In [1]:
# Requests for handling HTTP get and other requests
import requests
import time # import for playing nice and not getting blocked
import pandas as pd
# from BeautifulSoup4 import BeatifulSoup if installed through pip install BeautifulSoup4
# 
from bs4 import BeautifulSoup

In [ ]:
# if bs4 not found install it with
#  !pip install beatifulsoup4
# https://www.crummy.com/software/BeautifulSoup/

In [2]:
!dir
# ar ! i can run command line commands

 Volume in drive C has no label.
 Volume Serial Number is 3E6D-EE98

 Directory of C:\Users\liga\Github\Digital_Discourse_ETH713_Fall_2020\WebScraping

12/02/2020  05:07 PM    <DIR>          .
12/02/2020  05:07 PM    <DIR>          ..
12/02/2020  04:57 PM    <DIR>          .ipynb_checkpoints
12/02/2020  05:05 PM             7,540 center.json
12/02/2020  05:05 PM             8,458 center.xlsx
12/02/2020  04:29 PM            16,664 Selenium.ipynb
12/02/2020  04:29 PM         4,221,622 Web Scraping Apartments.ipynb
12/02/2020  05:07 PM            42,215 Web Scraping with Pandas.ipynb
12/02/2020  04:29 PM             2,539 WebScraping.ipynb
               6 File(s)      4,299,038 bytes
               3 Dir(s)  112,711,880,704 bytes free

In [3]:
# centrs = "https://www.ss.com/lv/real-estate/flats/riga/centre/sell/"
centrs = "https://www.ss.com/en/real-estate/flats/riga/centre/hand_over/"

In [4]:
# here we make a something called HTTP GET request to the url in centrs
# so very similar to what the browser does
req = requests.get(centrs)
req.status_code
# so where we could use our status_code to check if our request went through sucessfully
# so 200 is the ALL OK code in HTTP, many 4xx and 5xxx failure codes

200

In [5]:
req.text[:300]

'<!DOCTYPE html>\r\n<HTML><HEAD>\r\n<title>SS.COM Flats - Riga - Centre, Prices, Hand over - Ads</title>\r\n<meta http-equiv="Content-Type" CONTENT="text/html; charset=UTF-8">\r\n<meta name="viewport" content="user-scalable=1, width=device-width, initial-scale=1.0"/>\r\n<meta name="keywords" content="Announcem'

In [ ]:
# we could manually use text searching tools to work on the whole text of html but it would not convenient
# many other people have already written tools to parse/structure this text

In [6]:
# parser means structuring your text into some data structure
soup = BeautifulSoup(req.text, 'lxml') # lxml is improved parser, a little bit more lenient
soup.title

In [7]:
type(soup)

bs4.BeautifulSoup

In [8]:
# https://www.crummy.com/software/BeautifulSoup/bs4/doc/#find-all
tables = soup.find_all("table") # finds ALL elements matching our filter
len(tables) # it will be a list of some length, possibly 0 if we did not find any elements

7

In [ ]:
# Now we want to find what our column names should be no matter the type of ad

In [9]:
# find finds just one(first) match
headline = soup.find("tr", {"id":"head_line"}) # this is a shorter way of finding by tr AND this element having particular id
headline

<tr id="head_line">
<td class="msg_column" colspan="3" width="70%">
<span style="float:left;"> Announcements
</span>
<span align="right" class="msg_column" style="float:right;text-align:right;padding-right:3px;">
<noindex>
<a class="a19" href="/en/real-estate/flats/riga/centre/hand_over/fDgSeF4S.html" rel="nofollow">date</a></noindex></span>
</td>
<td class="msg_column_td" nowrap=""><noindex><a class="a18" href="/en/real-estate/flats/riga/centre/hand_over/fDgSeF4SFDwT.html" rel="nofollow" title="">Street</a></noindex></td><td class="msg_column_td" nowrap=""><noindex><a class="a18" href="/en/real-estate/flats/riga/centre/hand_over/fDgSeF4SelM=.html" rel="nofollow" title="">R.</a></noindex></td><td class="msg_column_td" nowrap=""><noindex><a class="a18" href="/en/real-estate/flats/riga/centre/hand_over/fDgSeF4QelM=.html" rel="nofollow" title="">m2</a></noindex></td><td class="msg_column_td" nowrap=""><noindex><a class="a18" href="/en/real-estate/flats/riga/centre/hand_over/fDgSeF4XelM=.html" rel="nofollow" title="">Floor</a></noindex></td><td class="msg_column_td" nowrap=""><noindex><a class="a18" href="/en/real-estate/flats/riga/centre/hand_over/fDgSeF4VelM=.html" rel="nofollow" title="">Series</a></noindex></td><td background="https://i.ss.com/img/pl.gif" class="msg_column" nowrap="" style="border-left:1px #FFFFFF solid;"><noindex><a class="a18" href="/en/real-estate/flats/riga/centre/hand_over/fDgSeF4bRDwT.html" rel="nofollow">Price, m2</a></noindex></td><td class="msg_column_td" nowrap=""><noindex><a class="a18" href="/en/real-estate/flats/riga/centre/hand_over/fDgSeF4belM=.html" rel="nofollow" title="">Price</a></noindex></td></tr>

In [10]:
type(headline)

bs4.element.Tag

In [11]:
# next we can search through the headling table row element and find individual table data elements
headtds = headline.find_all("td")
# https://developer.mozilla.org/en-US/docs/Web/HTML/Element/td
headtds

[<td class="msg_column" colspan="3" width="70%">
 <span style="float:left;"> Announcements
 </span>
 <span align="right" class="msg_column" style="float:right;text-align:right;padding-right:3px;">
 <noindex>
 <a class="a19" href="/en/real-estate/flats/riga/centre/hand_over/fDgSeF4S.html" rel="nofollow">date</a></noindex></span>
 </td>,
 <td class="msg_column_td" nowrap=""><noindex><a class="a18" href="/en/real-estate/flats/riga/centre/hand_over/fDgSeF4SFDwT.html" rel="nofollow" title="">Street</a></noindex></td>,
 <td class="msg_column_td" nowrap=""><noindex><a class="a18" href="/en/real-estate/flats/riga/centre/hand_over/fDgSeF4SelM=.html" rel="nofollow" title="">R.</a></noindex></td>,
 <td class="msg_column_td" nowrap=""><noindex><a class="a18" href="/en/real-estate/flats/riga/centre/hand_over/fDgSeF4QelM=.html" rel="nofollow" title="">m2</a></noindex></td>,
 <td class="msg_column_td" nowrap=""><noindex><a class="a18" href="/en/real-estate/flats/riga/centre/hand_over/fDgSeF4XelM=.html" rel="nofollow" title="">Floor</a></noindex></td>,
 <td class="msg_column_td" nowrap=""><noindex><a class="a18" href="/en/real-estate/flats/riga/centre/hand_over/fDgSeF4VelM=.html" rel="nofollow" title="">Series</a></noindex></td>,
 <td background="https://i.ss.com/img/pl.gif" class="msg_column" nowrap="" style="border-left:1px #FFFFFF solid;"><noindex><a class="a18" href="/en/real-estate/flats/riga/centre/hand_over/fDgSeF4bRDwT.html" rel="nofollow">Price, m2</a></noindex></td>,
 <td class="msg_column_td" nowrap=""><noindex><a class="a18" href="/en/real-estate/flats/riga/centre/hand_over/fDgSeF4belM=.html" rel="nofollow" title="">Price</a></noindex></td>]

In [12]:
len(headtds) # so we have some of lements (could be 8, 10 depends on the type of ad)

8

In [13]:
headline.text # the text is extracted from children, grandchildren, greatgrandchildren and so on

'\n\n\xa0Announcements\r\n\n\n\ndate\n\nStreetR.m2FloorSeriesPrice, m2Price'

In [14]:
# so we do not want announcements and data so we will skip the first TD with headtds[1:]
headcolumns = [el.text for el in headtds[1:]] #.text gets us content even from children and grandchildren
headcolumns

['Street', 'R.', 'm2', 'Floor', 'Series', 'Price, m2', 'Price']

In [15]:
# lets combine the above cells into a function which will always get us columns
def getColList(soup):
    column_list = ["description","url"] # we decided to that we need these two column names no matter the html
    headline = soup.find("tr", {"id":"head_line"})
    headtds = headline.find_all("td")
    headcolumns = [el.text for el in headtds[1:]] # this will get all column names starting with 2nd in HTML
    column_list += headcolumns # we add the head columns to our initial column list
    return column_list

In [16]:
column_names = getColList(soup)
column_names # so this should work no matter what type of SS.com page the soup is made of

['description',
 'url',
 'Street',
 'R.',
 'm2',
 'Floor',
 'Series',
 'Price, m2',
 'Price']

In [17]:
trows = soup.find_all('tr')
len(trows)

39

In [ ]:
# if i had no other choices I could find starting and end index by hand and hard code it
# but that is liable to change between pages

In [18]:
# hardest part in this 
# how to filter only specific rows
# we need to find something that is unique to our apartment rows but not to the extra rows
# remember we id is not guaranteed, so "" gives us default value when there is no id
# sometimes there were unusable rows with tr_bnr attribute
apt_rows = [row for row in trows if row.get('id',"").startswith("tr_") and not row.get('id',"").startswith("tr_bnr") ]
len(apt_rows)

30

In [19]:
apt_rows[-1]

<tr id="tr_48553744"><td class="msga2 pp0"><input id="c48553744" name="mid[]" type="checkbox" value="48553744_1106_0"/></td><td class="msga2"><a href="/msg/en/real-estate/flats/riga/centre/hdnkg.html" id="im48553744"><img alt="" class="isfoto foto_list" src="https://i.ss.com/gallery/4/710/177408/35481403.th2.jpg"/></a></td><td class="msg2"><div class="d1"><a class="am" data="JTdCJTlBJTlFdCU3RSVDQSVBQiU3QyU5OSU5OXclN0MlODMlQUMlN0UlOTklOUV1JTgwJTdFJUFCdyU5MiU5NQ==|GbeDHNz" href="/msg/en/real-estate/flats/riga/centre/hdnkg.html" id="dm_48553744">Labs Piedavājums Par Labu Cenu
Divistabas dzīvoklis izīrē Namīp</a></div></td><td c="1" class="msga2-o pp6" nowrap="">Avotu 61</td><td c="1" class="msga2-o pp6" nowrap="">2</td><td c="1" class="msga2-o pp6" nowrap="">41</td><td c="1" class="msga2-o pp6" nowrap="">1/2</td><td c="1" class="msga2-o pp6" nowrap="">Stalin pr.</td><td c="1" class="msga2-o pp6" nowrap="">4.02 €</td><td c="1" class="msga2-o pp6" nowrap="">165  €/mon.</td></tr>

In [20]:
apt_rows[0]

<tr id="tr_48694610"><td class="msga2 pp0"><input id="c48694610" name="mid[]" type="checkbox" value="48694610_1106_0"/></td><td class="msga2"><a href="/msg/en/real-estate/flats/riga/centre/cxgjb.html" id="im48694610"><img alt="" class="isfoto foto_list" src="https://i.ss.com/gallery/4/721/180036/36007145.th2.jpg"/></a></td><td class="msg2"><div class="d1"><a class="am" data="ZiU4QSU4RiU5QiVDMyU4NCU4OWxoJThFJTkwJTlBJTgwJTg1JTg4bWElODklODklOUIlN0I=|1UXeGST7" href="/msg/en/real-estate/flats/riga/centre/cxgjb.html" id="dm_48694610">Izīrē dzīvokli ar mājīgu un komfortablu iekārtojumu. Dzīvoklis s</a></div></td><td c="1" class="msga2-o pp6" nowrap="">Stabu 49</td><td c="1" class="msga2-o pp6" nowrap="">2</td><td c="1" class="msga2-o pp6" nowrap="">50</td><td c="1" class="msga2-o pp6" nowrap="">4/5</td><td c="1" class="msga2-o pp6" nowrap="">Perewar</td><td c="1" class="msga2-o pp6" nowrap="">6 €</td><td c="1" class="msga2-o pp6" nowrap="">300  €/mon.</td></tr>

In [21]:
# lets make a function from the above doodle and make it work on most pages on SS
def getRowList(soup):
    trows = soup.find_all('tr')
    aprows = [row for row in trows if row.get('id',"").startswith("tr_") and not row.get('id',"").startswith("tr_bnr") ]
    return aprows

In [22]:
row_tds = apt_rows[0].find_all('td') # get all table data elements from first ad/row
len(row_tds)

10

In [23]:
row_tds

[<td class="msga2 pp0"><input id="c48694610" name="mid[]" type="checkbox" value="48694610_1106_0"/></td>,
 <td class="msga2"><a href="/msg/en/real-estate/flats/riga/centre/cxgjb.html" id="im48694610"><img alt="" class="isfoto foto_list" src="https://i.ss.com/gallery/4/721/180036/36007145.th2.jpg"/></a></td>,
 <td class="msg2"><div class="d1"><a class="am" data="ZiU4QSU4RiU5QiVDMyU4NCU4OWxoJThFJTkwJTlBJTgwJTg1JTg4bWElODklODklOUIlN0I=|1UXeGST7" href="/msg/en/real-estate/flats/riga/centre/cxgjb.html" id="dm_48694610">Izīrē dzīvokli ar mājīgu un komfortablu iekārtojumu. Dzīvoklis s</a></div></td>,
 <td c="1" class="msga2-o pp6" nowrap="">Stabu 49</td>,
 <td c="1" class="msga2-o pp6" nowrap="">2</td>,
 <td c="1" class="msga2-o pp6" nowrap="">50</td>,
 <td c="1" class="msga2-o pp6" nowrap="">4/5</td>,
 <td c="1" class="msga2-o pp6" nowrap="">Perewar</td>,
 <td c="1" class="msga2-o pp6" nowrap="">6 €</td>,
 <td c="1" class="msga2-o pp6" nowrap="">300  €/mon.</td>]

In [24]:
# this is the checkbox we want nothing from that
row_tds[0].text

''

In [25]:
# second is the image table data cell
row_tds[1].text

''

In [26]:
row_tds[1].attrs

{'class': ['msga2']}

In [27]:
img = row_tds[1].find("img")
img

In [28]:
img.get("src")

'https://i.ss.com/gallery/4/721/180036/36007145.th2.jpg'

In [29]:
row_tds[2].text

'Izīrē dzīvokli ar mājīgu un komfortablu iekārtojumu. Dzīvoklis s'

In [30]:
# last one should be price
row_tds[-1].text

'300  €/mon.'

In [31]:
# so second table data cell (which has alos has image) has anchor
a = row_tds[1].find('a') # a tag is called anchor tag
a

In [32]:
a.attrs

{'href': '/msg/en/real-estate/flats/riga/centre/cxgjb.html',
 'id': 'im48694610'}

In [33]:
a.get('href'), a['href'] # two ways of accesing this attribute
# so all we need is to add http://www.ss.com in front

('/msg/en/real-estate/flats/riga/centre/cxgjb.html',
 '/msg/en/real-estate/flats/riga/centre/cxgjb.html')

In [34]:
# combining all of the above work into a function
def getRow(row,colist=column_names):
    row_tds = row.find_all('td')
    rowDict = {}
    if len(row_tds) <3: # a little sanity check
        print("Hmm bad row")
        return rowDict
    # first we save description
    rowDict[colist[0]] = row_tds[2].text # so the big assumption is that we always get description in 3rd column
    # then link to the ad
    rowDict[colist[1]] = "https://ss.com" + row_tds[1].find('a').get('href')
    
    for td,key in zip(row_tds[3:],colist[2:]): 
        rowDict[key] = td.text
    return rowDict

In [35]:
apt_rows[0] # first row of ads

<tr id="tr_48694610"><td class="msga2 pp0"><input id="c48694610" name="mid[]" type="checkbox" value="48694610_1106_0"/></td><td class="msga2"><a href="/msg/en/real-estate/flats/riga/centre/cxgjb.html" id="im48694610"><img alt="" class="isfoto foto_list" src="https://i.ss.com/gallery/4/721/180036/36007145.th2.jpg"/></a></td><td class="msg2"><div class="d1"><a class="am" data="ZiU4QSU4RiU5QiVDMyU4NCU4OWxoJThFJTkwJTlBJTgwJTg1JTg4bWElODklODklOUIlN0I=|1UXeGST7" href="/msg/en/real-estate/flats/riga/centre/cxgjb.html" id="dm_48694610">Izīrē dzīvokli ar mājīgu un komfortablu iekārtojumu. Dzīvoklis s</a></div></td><td c="1" class="msga2-o pp6" nowrap="">Stabu 49</td><td c="1" class="msga2-o pp6" nowrap="">2</td><td c="1" class="msga2-o pp6" nowrap="">50</td><td c="1" class="msga2-o pp6" nowrap="">4/5</td><td c="1" class="msga2-o pp6" nowrap="">Perewar</td><td c="1" class="msga2-o pp6" nowrap="">6 €</td><td c="1" class="msga2-o pp6" nowrap="">300  €/mon.</td></tr>

In [36]:
getRow(apt_rows[0])

{'description': 'Izīrē dzīvokli ar mājīgu un komfortablu iekārtojumu. Dzīvoklis s',
 'url': 'https://ss.com/msg/en/real-estate/flats/riga/centre/cxgjb.html',
 'Street': 'Stabu 49',
 'R.': '2',
 'm2': '50',
 'Floor': '4/5',
 'Series': 'Perewar',
 'Price, m2': '6 €',
 'Price': '300  €/mon.'}

In [37]:
def getRows(rowlist,colist=column_names):
    return [getRow(row, colist=colist) for row in rowlist]

In [38]:
row_ads = getRows(apt_rows)
row_ads[-3:]

[{'description': 'Tiek iznomata 1 izoleta istaba 5-istabu dzīvoklī Rīgas centrā, L',
  'url': 'https://ss.com/msg/en/real-estate/flats/riga/centre/dpilp.html',
  'Street': 'Lachplesha 17',
  'R.': '2',
  'm2': '15',
  'Floor': '1/4',
  'Series': 'Spec. pr.',
  'Price, m2': '12.67 €',
  'Price': '190  €/mon.'},
 {'description': 'Kapitālais remonts, plastikāta stikla pakešu logi, mēbelēts, ieb',
  'url': 'https://ss.com/msg/en/real-estate/flats/riga/centre/gjblo.html',
  'Street': 'Avotu 66',
  'R.': '1',
  'm2': '25',
  'Floor': '5/5',
  'Series': 'Perewar',
  'Price, m2': '7.20 €',
  'Price': '180  €/mon.'},
 {'description': 'Labs Piedavājums Par Labu Cenu\r\nDivistabas dzīvoklis izīrē Namīp',
  'url': 'https://ss.com/msg/en/real-estate/flats/riga/centre/hdnkg.html',
  'Street': 'Avotu 61',
  'R.': '2',
  'm2': '41',
  'Floor': '1/2',
  'Series': 'Stalin pr.',
  'Price, m2': '4.02 €',
  'Price': '165  €/mon.'}]

In [39]:
type(row_ads) # so a list of dictionaries well suited for conversion to Pandas

list

In [40]:
dtemp = pd.DataFrame(row_ads, columns=column_names)
dtemp.shape

(30, 9)

In [41]:
dtemp.head()

,description,url,Street,R.,m2,Floor,Series,"Price, m2",Price
0,Izīrē dzīvokli ar mājīgu un komfortablu iekārt...,https://ss.com/msg/en/real-estate/flats/riga/c...,Stabu 49,2,50,4/5,Perewar,6 €,300 €/mon.
1,Tiek izīrēts lielisks 2 istabu dzīvoklis ar sk...,https://ss.com/msg/en/real-estate/flats/riga/c...,Merkela 17,2,49,4/5,Perewar,11.22 €,550 €/mon.
2,"Īpašnieks izīrē , tiko pēc remonta , ar sadzīv...",https://ss.com/msg/en/real-estate/flats/riga/c...,Deglava 9,1,26,1/6,Recon.,13.42 €,349 €/mon.
3,Владелец сдает новую 2-уровневую квартиру (гос...,https://ss.com/msg/en/real-estate/flats/riga/c...,Brivibas 101,3,73,1/5,Perewar,6.85 €,500 €/mon.
4,Доступна уже сегодня. Владелец сдает новую ква...,https://ss.com/msg/en/real-estate/flats/riga/c...,Lachplesha 121,2,43,2/6,New,8.95 €,385 €/mon.

In [42]:
dtemp.to_excel("centrs_30.xlsx")

In [44]:
centrs

'https://www.ss.com/en/real-estate/flats/riga/centre/hand_over/'

In [45]:
tokens = centrs.split("/")
tokens

['https:',
 '',
 'www.ss.com',
 'en',
 'real-estate',
 'flats',
 'riga',
 'centre',
 'hand_over',
 '']

In [46]:
prefix = tokens[-3]+"_"+tokens[-2]
prefix

'centre_hand_over'

In [47]:
from datetime import datetime

In [53]:
now = datetime.now()
now.year, now.month, now.day, now.hour, now.minute

(2020, 12, 2, 17, 54)

In [56]:
fname = f"{prefix}_{now.month}_{now.day}_{ now.hour}_{ now.minute}.xlsx"
fname

'centre_hand_over_12_2_17_54.xlsx'

In [51]:
datetime.timestamp()

In [60]:
def getDFfromURL(url, save_to_excel=False):
    # print("getting data from", url)
    req = requests.get(url)
    if req.status_code != 200:
        print("Request Fail with", req.status_code)
        return None # maybe return empty dataframe here
    soup = BeautifulSoup(req.text, 'lxml')
    column_names = getColList(soup)
    rowlist = getRowList(soup)
    rows = getRows(rowlist,colist=column_names)
    df = pd.DataFrame(rows, columns=column_names)
    if save_to_excel:
        tokens = url.split("/")
        prefix = tokens[-3]+"_"+tokens[-2]
        now = datetime.now()
        fname = f"{prefix}_{now.month}_{now.day}_{now.hour}_{now.minute}.xlsx"
        df.to_excel(fname)
    return df

In [ ]:
centrs

In [61]:
df = getDFfromURL(centrs, save_to_excel=True)

In [62]:
df.shape

(30, 9)

In [63]:
df.head()

,description,url,Street,R.,m2,Floor,Series,"Price, m2",Price
0,Divistabu dzīvoklis ar bezmaksas stāvvietu pie...,https://ss.com/msg/en/real-estate/flats/riga/c...,Miera 97,2,39,4/5,Chrusch.,8.46 €,330 €/mon.
1,Izīrē pilnībā mēbelētu dzīvokli jaunāja projek...,https://ss.com/msg/en/real-estate/flats/riga/c...,Terbatas 26a,2,31,2/5,New,14.52 €,450 €/mon.
2,Izīrē pilnībā mēbelētu dzīvokli pilsētas centr...,https://ss.com/msg/en/real-estate/flats/riga/c...,Terbatas 26a,2,43,1/6,New,10.47 €,450 €/mon.
3,Izīrē 2-istabu dzīvokli pēc kapitālā remonta a...,https://ss.com/msg/en/real-estate/flats/riga/c...,Chaka 148,2,60,3/5,Perewar,7.50 €,450 €/mon.
4,"Īpašniece piedāvā īrei ērtu, studijas tipa dzī...",https://ss.com/msg/en/real-estate/flats/riga/c...,Artilerijas 19,1,35,3/4,Recon.,10.57 €,370 €/mon.

## Now we want to find all pages with the same ads from the area
### some urls might have many ads some might have a single page

In [ ]:

# https://developer.mozilla.org/en-US/docs/Web/HTML/Element/a
anchors = soup.find_all("a")
len(anchors)

In [ ]:
anchors[:5]

In [ ]:
navs = [anchor for anchor in anchors if anchor.get("name") == "nav_id"] # get will get us None if no "name" exists
len(navs)

In [ ]:
navs[0]

In [ ]:
navs[0].attrs

In [ ]:
navs[0]['href']

In [ ]:
# could use regular expression here but we can use split 
afterpage = navs[0]['href'].split("/page")[-1] # -1 might be safer than 1 in case there is region with name page
afterpage

In [ ]:
beforedot = afterpage.split(".html")[0]
beforedot

In [ ]:
lastpage = int(beforedot)
lastpage

In [ ]:
def getAllLocalUrls(url):
    """Get a list of all urls including paginated pages"""
    results = [url] # default is just the url if no extra pages found
    req = requests.get(url)
    if req.status_code != 200:
        print(f"Bad response! {req.status_code}")
        return []
    soup = BeautifulSoup(req.text, 'lxml')
    # we just need a one element
    prevanchor = soup.find('a', {"rel":"prev"})
    if prevanchor == None: # means there is only one page of ads
        return results
    href = prevanchor.attrs.get('href')
    lastPageNum = int(href.split('/page')[-1].split('.html')[0])
    print("Last page is",lastPageNum)
    nurls = [f"{url}page{n}.html" for n in range(2,lastPageNum+1)]
    results += nurls
    return results

In [ ]:
centrs

In [ ]:
local_urls = getAllLocalUrls(centrs)
len(local_urls),local_urls[:3],local_urls[-1]

In [ ]:
dlast = getDFfromURL(local_urls[-1])
dlast.shape

In [ ]:
dlast

In [ ]:
def get_all_ads_df(start_url, save_excel_path=None):
    df_list=[] # so we will save our dataframes in a list
    local_urls = getAllLocalUrls(start_url)
    for url in local_urls:
        print(f"Gathering data from {url}")
        df_list.append(getDFfromURL(url))
        time.sleep(0.3) # we need this to play nice!
    # https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.concat.html
    big_df = pd.concat(df_list) # then make a big dataframe from all the small dataframes
    if save_excel_path:
        big_df.to_excel(save_excel_path)
    return big_df

In [ ]:
centrs

In [ ]:
df = get_all_ads_df(centrs, "centrs_25_11.xlsx")

In [ ]:
df.shape

In [ ]:
df.head()

In [ ]:
df.tail()

In [ ]:
df.shape

In [ ]:
#we can do more post processing - feature engineering using existing columns
df[['Floor','MaxFloor']] = df.Stāvs.str.split("/",expand=True) 
df.head()

In [ ]:
df.sort_values(by="Floor",ascending=False).head()

In [ ]:
df.to_excel("c:/temp/my_apartments.xlsx") # i could this with absolute path

In [ ]:
from datetime import datetime as dt
now = dt.now()
now.month, now.day, now.hour, now.second

In [ ]:
url = "https://www.ss.com/lv/real-estate/flats/riga/sarkandaugava/hand_over/"
region = url.split("riga/")[-1].split("/")[0]
now = dt.now()
save_path = f"../data/{region}_{now.day}_{now.month}__{now.hour}_{now.second}.xlsx"
save_path

In [ ]:
url = "https://www.ss.com/lv/real-estate/flats/riga/sarkandaugava/hand_over/"
region = url.split("riga/")[-1].split("/")[0]
now = dt.now()
save_path = f"../data/{region}_{now.day}_{now.month}__{now.hour}_{now.second}.xlsx"

df = get_all_ads_df(url, save_path)

In [ ]:
url = "https://www.ss.com/lv/transport/cars/vaz/riga_f/"
df = get_all_ads_df(url, "../data/vaz_25_11.xlsx")

# TODO 
# Try with different starting address not only centrs
## Maybe combine regions
## See how it would work with maybe cars
## Data engineering make new columns based on existing ones, clean some columns
### Changing floors 2/6 to columns 2 and 6, clean up Euro signs
## Sorting, Describing, Grouping by regions etc

In [ ]:
df = pd.read_excel("centrs_25_11.xlsx")
df.head()

In [ ]:
df["price"] = df.Cena.str.split(' ').str[0]
df.head()

In [ ]:
df.price = df.price.str.replace(",","").astype('int32')
df.head()

In [ ]:
df.price.hist()

In [ ]:
df[['Floor','MaxFloor']] = df.Stāvs.str.split("/",expand=True) 
df.info()

In [ ]:
#typecasting example
df.Floor = df.Floor.astype('int32')
df.MaxFloor = df.MaxFloor.astype('int32')

In [ ]:
df.describe().T # T is for transposing rows and columns

In [ ]:
df.describe().T.to_csv("center_stats.csv")

In [ ]:
import plotly.express as px

In [ ]:
fig = px.histogram(df, x="price")
fig.show()

In [ ]:
import seaborn as sns # seaborn sits on top of matplotlib with better defaults
import matplotlib.pyplot as plt

In [ ]:
# Basic correlogram
sns.pairplot(df)

In [ ]:
# Basic correlogram
sns.pairplot(df)

In [ ]:
volvo_url = "https://www.ss.com/lv/transport/cars/volvo/sell/"
gr_auto = df.groupby(["Gads","Modelis"])["Cena"].agg(["min", "max", "mean"])  #.head(n = 10)

In [ ]:
print(dt.today())

In [ ]:
suzuki_url = "https://www.ss.com/lv/transport/cars/suzuki/"
# sdf = get_all_ads_df(suzuki_url, f"suzuki_{dt.today()}.xlsx")
sdf = get_all_ads_df(suzuki_url, f"suzuki.xlsx")
sdf.head()

In [ ]:
sdf.info()

In [ ]:
sdf["Tilp."] = sdf["Tilp."].str.replace("\w","", regex=True)
sdf.head()

In [ ]:
sdf["Nobrauk."] = sdf["Nobrauk."].str.replace("\D","", regex=True) # so no digits removed
sdf.head()

In [ ]:
sdf["Cena"] = sdf["Cena"].str.replace("\D","", regex=True) # so no digits removed
sdf.head()

In [ ]:
sdf = sdf.dropna(how="any", axis=0)
sdf

In [ ]:
sdf = sdf[sdf["Nobrauk."].str.len() > 0] # got rid of those empty rows finally
sdf

In [ ]:
sdf["Cena"] = sdf["Cena"].astype("float32")

In [ ]:
gr_auto = sdf.groupby(["Gads","Modelis"])["Cena"].agg(["count","min", "max", "mean"]) 
gr_auto