In [65]:
# Requests for handling HTTP get and other requests
import requests
import time # import for playing nice and not getting blocked
import pandas as pd
from datetime import datetime
# from BeautifulSoup4 import BeatifulSoup if installed through pip install BeautifulSoup4
# 
from bs4 import BeautifulSoup # a library for parsing HTML (and XML) content

In [ ]:
# if bs4 not found install it with
#  !pip install beatifulsoup4
# https://www.crummy.com/software/BeautifulSoup/

In [2]:
!dir
# ar ! i can run command line commands

sample_data

In [4]:
# centrs = "https://www.ss.com/lv/real-estate/flats/riga/centre/sell/"
centrs = "https://www.ss.com/en/real-estate/flats/riga/centre/hand_over/"
centrs

'https://www.ss.com/en/real-estate/flats/riga/centre/hand_over/'

In [5]:
# here we make a something called HTTP GET request to the url in centrs
# so very similar to what the browser does
req = requests.get(centrs)
req.status_code
# so where we could use our status_code to check if our request went through sucessfully
# so 200 is the ALL OK code in HTTP, many 4xx and 5xxx failure codes

200

In [6]:
req.text[:300] # first 300 text charactersb

'<!DOCTYPE html>\r\n<HTML><HEAD>\r\n<title>SS.COM Flats - Riga - Centre, Prices, Hand over - Advertisements</title>\r\n<meta http-equiv="Content-Type" CONTENT="text/html; charset=UTF-8">\r\n<meta name="viewport" content="user-scalable=1, width=device-width, initial-scale=1.0"/>\r\n<meta name="keywords" content'

In [7]:
"Alun" in req.text

True

In [8]:
req.text.index("Alun")

13045

In [9]:
req.text[13045-30:13045+30] # getting some text around what I was looking forb

'</option><option value="4412">Alunana</option><option value='

In [10]:
req.text.count("Alun")

3

In [11]:
# we could actually get the whole table with pandas library

In [12]:
data_frames = pd.read_html(centrs)  #this reads ALL the tables on the web page
len(data_frames)

7

In [13]:
df = data_frames[4]  # we want the 5th table
df.head()

                       0                      1  ...          8           9
0  Advertisements \tdate  Advertisements \tdate  ...  Price, m2       Price
1                    NaN                    NaN  ...     8.60 €  430 €/mon.
2                    NaN                    NaN  ...     4.22 €  380 €/mon.
3                    NaN                    NaN  ...    11.67 €  700 €/mon.
4                    NaN                    NaN  ...     4.92 €  320 €/mon.

[5 rows x 10 columns]

In [14]:
df.to_excel("riga_center_page1.xlsx")

In [ ]:
# we could manually use text searching tools to work on the whole text of html but it would not convenient
# many other people have already written tools to parse/structure this text

In [15]:
# parser means structuring your text into some data structure
soup = BeautifulSoup(req.text, 'lxml') # lxml is improved parser, a little bit more lenient towards badly structured HTML 
soup.title

In [16]:
type(soup)  # so we have soup object which contains all the information about the page in a structured manner

bs4.BeautifulSoup

In [ ]:
soup.find()

In [17]:
# https://www.crummy.com/software/BeautifulSoup/bs4/doc/#find-all
tables = soup.find_all("table") # finds ALL elements matching our filter
len(tables) # it will be a list of some length, possibly 0 if we did not find any elements

7

In [ ]:
# Now we want to find what our column names should be no matter the type of ad

In [18]:
# find finds just one(first) match
headline = soup.find("tr", {"id":"head_line"}) # this is a shorter way of finding by tr AND this element having particular id
headline

<tr id="head_line">
<td class="msg_column" colspan="3" width="70%">
<span style="float:left;"> Advertisements
</span>
<span align="right" class="msg_column" style="float:right;text-align:right;padding-right:3px;">
<noindex>
<a class="a19" href="/en/real-estate/flats/riga/centre/hand_over/fDgSeF4S.html" rel="nofollow">date</a></noindex></span>
</td>
<td class="msg_column_td" nowrap=""><noindex><a class="a18" href="/en/real-estate/flats/riga/centre/hand_over/fDgSeF4SFDwT.html" rel="nofollow" title="">Street</a></noindex></td><td class="msg_column_td" nowrap=""><noindex><a class="a18" href="/en/real-estate/flats/riga/centre/hand_over/fDgSeF4SelM=.html" rel="nofollow" title="">R.</a></noindex></td><td class="msg_column_td" nowrap=""><noindex><a class="a18" href="/en/real-estate/flats/riga/centre/hand_over/fDgSeF4QelM=.html" rel="nofollow" title="">m2</a></noindex></td><td class="msg_column_td" nowrap=""><noindex><a class="a18" href="/en/real-estate/flats/riga/centre/hand_over/fDgSeF4XelM=.html" rel="nofollow" title="">Floor</a></noindex></td><td class="msg_column_td" nowrap=""><noindex><a class="a18" href="/en/real-estate/flats/riga/centre/hand_over/fDgSeF4VelM=.html" rel="nofollow" title="">Series</a></noindex></td><td background="https://i.ss.com/img/pl.gif" class="msg_column" nowrap="" style="border-left:1px #FFFFFF solid;"><noindex><a class="a18" href="/en/real-estate/flats/riga/centre/hand_over/fDgSeF4bRDwT.html" rel="nofollow">Price, m2</a></noindex></td><td class="msg_column_td" nowrap=""><noindex><a class="a18" href="/en/real-estate/flats/riga/centre/hand_over/fDgSeF4belM=.html" rel="nofollow" title="">Price</a></noindex></td></tr>

In [19]:
type(headline)

bs4.element.Tag

In [20]:
# next we can search through the headling table row element and find individual table data elements
headtds = headline.find_all("td")
# https://developer.mozilla.org/en-US/docs/Web/HTML/Element/td
headtds  # a list of td elements

[<td class="msg_column" colspan="3" width="70%">
 <span style="float:left;"> Advertisements
 </span>
 <span align="right" class="msg_column" style="float:right;text-align:right;padding-right:3px;">
 <noindex>
 <a class="a19" href="/en/real-estate/flats/riga/centre/hand_over/fDgSeF4S.html" rel="nofollow">date</a></noindex></span>
 </td>,
 <td class="msg_column_td" nowrap=""><noindex><a class="a18" href="/en/real-estate/flats/riga/centre/hand_over/fDgSeF4SFDwT.html" rel="nofollow" title="">Street</a></noindex></td>,
 <td class="msg_column_td" nowrap=""><noindex><a class="a18" href="/en/real-estate/flats/riga/centre/hand_over/fDgSeF4SelM=.html" rel="nofollow" title="">R.</a></noindex></td>,
 <td class="msg_column_td" nowrap=""><noindex><a class="a18" href="/en/real-estate/flats/riga/centre/hand_over/fDgSeF4QelM=.html" rel="nofollow" title="">m2</a></noindex></td>,
 <td class="msg_column_td" nowrap=""><noindex><a class="a18" href="/en/real-estate/flats/riga/centre/hand_over/fDgSeF4XelM=.html" rel="nofollow" title="">Floor</a></noindex></td>,
 <td class="msg_column_td" nowrap=""><noindex><a class="a18" href="/en/real-estate/flats/riga/centre/hand_over/fDgSeF4VelM=.html" rel="nofollow" title="">Series</a></noindex></td>,
 <td background="https://i.ss.com/img/pl.gif" class="msg_column" nowrap="" style="border-left:1px #FFFFFF solid;"><noindex><a class="a18" href="/en/real-estate/flats/riga/centre/hand_over/fDgSeF4bRDwT.html" rel="nofollow">Price, m2</a></noindex></td>,
 <td class="msg_column_td" nowrap=""><noindex><a class="a18" href="/en/real-estate/flats/riga/centre/hand_over/fDgSeF4belM=.html" rel="nofollow" title="">Price</a></noindex></td>]

In [21]:
len(headtds) # so we have some of lements (could be 8, 10 depends on the type of ad)

8

In [22]:
headline.text # the text is extracted from children, grandchildren, greatgrandchildren and so on

'\n\n\xa0Advertisements\r\n\n\n\ndate\n\nStreetR.m2FloorSeriesPrice, m2Price'

In [24]:
headtds[3].text  # so text of 4th child of headline (which is tr with id headline) element

'm2'

In [25]:
# so we do not want announcements and data so we will skip the first TD with headtds[1:]
headcolumns = [el.text for el in headtds[1:]] #.text gets us content even from children and grandchildren
headcolumns

['Street', 'R.', 'm2', 'Floor', 'Series', 'Price, m2', 'Price']

In [26]:
# lets combine the above cells into a function which will always get us columns
def getColList(soup):
    column_list = ["description","url"] # we decided to that we need these two column names no matter the html
    headline = soup.find("tr", {"id":"head_line"})
    headtds = headline.find_all("td")
    headcolumns = [el.text for el in headtds[1:]] # this will get all column names starting with 2nd in HTML
    column_list += headcolumns # we add the head columns to our initial column list
    return column_list

In [27]:
column_names = getColList(soup)
column_names # so this should work no matter what type of SS.com page the soup is made of

['description',
 'url',
 'Street',
 'R.',
 'm2',
 'Floor',
 'Series',
 'Price, m2',
 'Price']

In [28]:
trows = soup.find_all('tr')  # so i want all table rows on the page
len(trows)

40

In [30]:
print(trows[5]) # our first ad so from trows[5] to trows[34 would work as well]

<tr id="tr_50739690"><td class="msga2 pp0"><input id="c50739690" name="mid[]" type="checkbox" value="50739690_1106_0"/></td><td class="msga2"><a href="/msg/en/real-estate/flats/riga/centre/dgbkg.html" id="im50739690"><img alt="" class="isfoto foto_list" src="https://i.ss.com/gallery/4/767/191669/38333708.th2.jpg"/></a></td><td class="msg2"><div class="d1"><a class="am" data="JTgwJTg3JTlDJUE2JUE5JUIyJTlDJUFCeSU4RCU5OCU5RSVBOW0lOUMlQTl6JThEJTlBJTlFJUFBZiU5QiVBNQ==|HUdny6ku" href="/msg/en/real-estate/flats/riga/centre/dgbkg.html" id="dm_50739690">Izīrē 2-istabu dzīvokli ilgtermiņa īrei Rīgas Klusajā centrā, vē</a></div></td><td c="1" class="msga2-o pp6" nowrap="">Alunana 6</td><td c="1" class="msga2-o pp6" nowrap="">2</td><td c="1" class="msga2-o pp6" nowrap="">50</td><td c="1" class="msga2-o pp6" nowrap="">2/4</td><td c="1" class="msga2-o pp6" nowrap="">Pre-war house</td><td c="1" class="msga2-o pp6" nowrap="">8.60 €</td><td c="1" class="msga2-o pp6" nowrap="">430  €/mon.</td></tr>

In [33]:
# less flexible solution would be to hard code this
all_ads = trows[5:35]
all_ads[-1] # last one - 35

<tr id="tr_50509794"><td class="msga2 pp0"><input id="c50509794" name="mid[]" type="checkbox" value="50509794_1106_0"/></td><td class="msga2"><a href="/msg/en/real-estate/flats/riga/centre/aemmx.html" id="im50509794"><img alt="" class="isfoto foto_list" src="https://i.ss.com/gallery/5/869/217006/43401105.th2.jpg"/></a></td><td class="msg2"><div class="d1"><a class="am" data="eW8lOTV1JTgwJTdGJUFEZSU5OSU3RHpmJTlCJTdCeiU4M2JrJTk4JTdDd2glOTV0eA==|G6eDHN14cK" href="/msg/en/real-estate/flats/riga/centre/aemmx.html" id="dm_50509794">Fasādes māja, kapitālais remonts, 2 istabas izolētas, studio tip</a></div></td><td c="1" class="msga2-o pp6" nowrap="">Alunana 2A</td><td c="1" class="msga2-o pp6" nowrap="">3</td><td c="1" class="msga2-o pp6" nowrap="">70</td><td c="1" class="msga2-o pp6" nowrap="">2/6</td><td c="1" class="msga2-o pp6" nowrap="">Recon.</td><td c="1" class="msga2-o pp6" nowrap="">7.86 €</td><td c="1" class="msga2-o pp6" nowrap="">550  €/mon.</td></tr>

In [ ]:
# if i had no other choices I could find starting and end index by hand and hard code it
# but that is liable to change between pages

In [34]:
# hardest part in this 
# how to filter only specific rows
# we need to find something that is unique to our apartment rows but not to the extra rows
# remember we id is not guaranteed, so "" gives us default value when there is no id
# sometimes there were unusable rows with tr_bnr attribute
apt_rows = [row for row in trows if row.get('id',"").startswith("tr_") and not row.get('id',"").startswith("tr_bnr") ]
len(apt_rows)

30

In [35]:
apt_rows[-1]

<tr id="tr_50509794"><td class="msga2 pp0"><input id="c50509794" name="mid[]" type="checkbox" value="50509794_1106_0"/></td><td class="msga2"><a href="/msg/en/real-estate/flats/riga/centre/aemmx.html" id="im50509794"><img alt="" class="isfoto foto_list" src="https://i.ss.com/gallery/5/869/217006/43401105.th2.jpg"/></a></td><td class="msg2"><div class="d1"><a class="am" data="eW8lOTV1JTgwJTdGJUFEZSU5OSU3RHpmJTlCJTdCeiU4M2JrJTk4JTdDd2glOTV0eA==|G6eDHN14cK" href="/msg/en/real-estate/flats/riga/centre/aemmx.html" id="dm_50509794">Fasādes māja, kapitālais remonts, 2 istabas izolētas, studio tip</a></div></td><td c="1" class="msga2-o pp6" nowrap="">Alunana 2A</td><td c="1" class="msga2-o pp6" nowrap="">3</td><td c="1" class="msga2-o pp6" nowrap="">70</td><td c="1" class="msga2-o pp6" nowrap="">2/6</td><td c="1" class="msga2-o pp6" nowrap="">Recon.</td><td c="1" class="msga2-o pp6" nowrap="">7.86 €</td><td c="1" class="msga2-o pp6" nowrap="">550  €/mon.</td></tr>

In [ ]:
apt_rows[0]

<tr id="tr_48694610"><td class="msga2 pp0"><input id="c48694610" name="mid[]" type="checkbox" value="48694610_1106_0"/></td><td class="msga2"><a href="/msg/en/real-estate/flats/riga/centre/cxgjb.html" id="im48694610"><img alt="" class="isfoto foto_list" src="https://i.ss.com/gallery/4/721/180036/36007145.th2.jpg"/></a></td><td class="msg2"><div class="d1"><a class="am" data="ZiU4QSU4RiU5QiVDMyU4NCU4OWxoJThFJTkwJTlBJTgwJTg1JTg4bWElODklODklOUIlN0I=|1UXeGST7" href="/msg/en/real-estate/flats/riga/centre/cxgjb.html" id="dm_48694610">Izīrē dzīvokli ar mājīgu un komfortablu iekārtojumu. Dzīvoklis s</a></div></td><td c="1" class="msga2-o pp6" nowrap="">Stabu 49</td><td c="1" class="msga2-o pp6" nowrap="">2</td><td c="1" class="msga2-o pp6" nowrap="">50</td><td c="1" class="msga2-o pp6" nowrap="">4/5</td><td c="1" class="msga2-o pp6" nowrap="">Perewar</td><td c="1" class="msga2-o pp6" nowrap="">6 €</td><td c="1" class="msga2-o pp6" nowrap="">300  €/mon.</td></tr>

In [36]:
# lets make a function from the above doodle and make it work on most pages on SS
def getRowList(soup):
    trows = soup.find_all('tr')
    aprows = [row for row in trows if row.get('id',"").startswith("tr_") and not row.get('id',"").startswith("tr_bnr") ]
    return aprows

In [37]:
row_tds = apt_rows[0].find_all('td') # get all table data elements from first ad/row
len(row_tds)

10

In [38]:
row_tds

[<td class="msga2 pp0"><input id="c50739690" name="mid[]" type="checkbox" value="50739690_1106_0"/></td>,
 <td class="msga2"><a href="/msg/en/real-estate/flats/riga/centre/dgbkg.html" id="im50739690"><img alt="" class="isfoto foto_list" src="https://i.ss.com/gallery/4/767/191669/38333708.th2.jpg"/></a></td>,
 <td class="msg2"><div class="d1"><a class="am" data="JTgwJTg3JTlDJUE2JUE5JUIyJTlDJUFCeSU4RCU5OCU5RSVBOW0lOUMlQTl6JThEJTlBJTlFJUFBZiU5QiVBNQ==|HUdny6ku" href="/msg/en/real-estate/flats/riga/centre/dgbkg.html" id="dm_50739690">Izīrē 2-istabu dzīvokli ilgtermiņa īrei Rīgas Klusajā centrā, vē</a></div></td>,
 <td c="1" class="msga2-o pp6" nowrap="">Alunana 6</td>,
 <td c="1" class="msga2-o pp6" nowrap="">2</td>,
 <td c="1" class="msga2-o pp6" nowrap="">50</td>,
 <td c="1" class="msga2-o pp6" nowrap="">2/4</td>,
 <td c="1" class="msga2-o pp6" nowrap="">Pre-war house</td>,
 <td c="1" class="msga2-o pp6" nowrap="">8.60 €</td>,
 <td c="1" class="msga2-o pp6" nowrap="">430  €/mon.</td>]

In [ ]:
# this is the checkbox we want nothing from that
row_tds[0].text

''

In [39]:
# second is the image table data cell
row_tds[1].text

''

In [40]:
row_tds[1].attrs

{'class': ['msga2']}

In [41]:
img = row_tds[1].find("img")
img

In [ ]:
img.get("src")

'https://i.ss.com/gallery/4/721/180036/36007145.th2.jpg'

In [42]:
row_tds[2].text

'Izīrē 2-istabu dzīvokli ilgtermiņa īrei Rīgas Klusajā centrā, vē'

In [43]:
# last one should be price
row_tds[-1].text

'430  €/mon.'

In [45]:
# so second table data cell (which has alos has image) has anchor
a = row_tds[1].find('a') # a tag is called anchor tag
a

In [47]:
a.attrs  # so i can read attributes as a dictionary

{'href': '/msg/en/real-estate/flats/riga/centre/dgbkg.html',
 'id': 'im50739690'}

In [48]:
a.get('href'), a['href'] # two ways of accesing this attribute
# so all we need is to add http://www.ss.com in front

('/msg/en/real-estate/flats/riga/centre/dgbkg.html',
 '/msg/en/real-estate/flats/riga/centre/dgbkg.html')

In [49]:
column_names

['description',
 'url',
 'Street',
 'R.',
 'm2',
 'Floor',
 'Series',
 'Price, m2',
 'Price']

In [50]:
# combining all of the above work into a function
def getRow(row,colist=column_names):
    row_tds = row.find_all('td')
    rowDict = {}
    if len(row_tds) <3: # a little sanity check
        print("Hmm bad row")
        return rowDict
    # first we save description
    rowDict[colist[0]] = row_tds[2].text # so the big assumption is that we always get description in 3rd column
    # then link to the ad
    rowDict[colist[1]] = "https://ss.com" + row_tds[1].find('a').get('href')
    # then we take the rest of the table data elements and use them as values for our dictionary with keys being the column names
    for td,key in zip(row_tds[3:],colist[2:]): 
        rowDict[key] = td.text
    return rowDict

In [51]:
apt_rows[0] # first row of ads

<tr id="tr_50739690"><td class="msga2 pp0"><input id="c50739690" name="mid[]" type="checkbox" value="50739690_1106_0"/></td><td class="msga2"><a href="/msg/en/real-estate/flats/riga/centre/dgbkg.html" id="im50739690"><img alt="" class="isfoto foto_list" src="https://i.ss.com/gallery/4/767/191669/38333708.th2.jpg"/></a></td><td class="msg2"><div class="d1"><a class="am" data="JTgwJTg3JTlDJUE2JUE5JUIyJTlDJUFCeSU4RCU5OCU5RSVBOW0lOUMlQTl6JThEJTlBJTlFJUFBZiU5QiVBNQ==|HUdny6ku" href="/msg/en/real-estate/flats/riga/centre/dgbkg.html" id="dm_50739690">Izīrē 2-istabu dzīvokli ilgtermiņa īrei Rīgas Klusajā centrā, vē</a></div></td><td c="1" class="msga2-o pp6" nowrap="">Alunana 6</td><td c="1" class="msga2-o pp6" nowrap="">2</td><td c="1" class="msga2-o pp6" nowrap="">50</td><td c="1" class="msga2-o pp6" nowrap="">2/4</td><td c="1" class="msga2-o pp6" nowrap="">Pre-war house</td><td c="1" class="msga2-o pp6" nowrap="">8.60 €</td><td c="1" class="msga2-o pp6" nowrap="">430  €/mon.</td></tr>

In [52]:
getRow(apt_rows[0])

{'Floor': '2/4',
 'Price': '430  €/mon.',
 'Price, m2': '8.60 €',
 'R.': '2',
 'Series': 'Pre-war house',
 'Street': 'Alunana 6',
 'description': 'Izīrē 2-istabu dzīvokli ilgtermiņa īrei Rīgas Klusajā centrā, vē',
 'm2': '50',
 'url': 'https://ss.com/msg/en/real-estate/flats/riga/centre/dgbkg.html'}

In [54]:
def getRows(rowlist,colist=column_names):
    return [getRow(row, colist=colist) for row in rowlist]

In [55]:
row_ads = getRows(apt_rows)
row_ads[-3:]

[{'Floor': '5/6',
  'Price': '260  €/mon.',
  'Price, m2': '4.91 €',
  'R.': '2',
  'Series': 'Pre-war house',
  'Street': 'Sadovnikova 37',
  'description': 'Fasādes māja, renovēta māja, iežogota teritorija, vieta automašī',
  'm2': '53',
  'url': 'https://ss.com/msg/en/real-estate/flats/riga/centre/dmxpe.html'},
 {'Floor': '2/5',
  'Price': '330  €/mon.',
  'Price, m2': '6.23 €',
  'R.': '2',
  'Series': 'Pre-war house',
  'Street': 'Bruninieku 66',
  'description': 'Saimnieks izīrē 2 istabu dzīvokli ar izolētām istabām, ar visām ',
  'm2': '53',
  'url': 'https://ss.com/msg/en/real-estate/flats/riga/centre/hbnjn.html'},
 {'Floor': '2/6',
  'Price': '550  €/mon.',
  'Price, m2': '7.86 €',
  'R.': '3',
  'Series': 'Recon.',
  'Street': 'Alunana 2A',
  'description': 'Fasādes māja, kapitālais remonts, 2 istabas izolētas, studio tip',
  'm2': '70',
  'url': 'https://ss.com/msg/en/real-estate/flats/riga/centre/aemmx.html'}]

In [56]:
type(row_ads) # so a list of dictionaries well suited for conversion to Pandas

list

In [57]:
row_ads[:2]  # first two ads

[{'Floor': '2/4',
  'Price': '430  €/mon.',
  'Price, m2': '8.60 €',
  'R.': '2',
  'Series': 'Pre-war house',
  'Street': 'Alunana 6',
  'description': 'Izīrē 2-istabu dzīvokli ilgtermiņa īrei Rīgas Klusajā centrā, vē',
  'm2': '50',
  'url': 'https://ss.com/msg/en/real-estate/flats/riga/centre/dgbkg.html'},
 {'Floor': '1/1',
  'Price': '380  €/mon.',
  'Price, m2': '4.22 €',
  'R.': '3',
  'Series': 'Priv.house',
  'Street': 'Ozolu 2',
  'description': 'Izīrējam ļoti mājīgu un plašu 90 m2 3-istabu dzīvokli tuvu centr',
  'm2': '90',
  'url': 'https://ss.com/msg/en/real-estate/flats/riga/centre/bbfnp.html'}]

In [58]:
dtemp = pd.DataFrame(row_ads, columns=column_names)
dtemp.shape

(30, 9)

In [59]:
dtemp.head()

                                         description  ...        Price
0  Izīrē 2-istabu dzīvokli ilgtermiņa īrei Rīgas ...  ...  430  €/mon.
1  Izīrējam ļoti mājīgu un plašu 90 m2 3-istabu d...  ...  380  €/mon.
2  Izīrējam dzīvokli, klusais centrs Vēstniecību ...  ...  700  €/mon.
3  Fasādes māja, bezmaksas stāvvieta pagalmā. \r\...  ...  320  €/mon.
4  Izīrēju skaistu dzīvokli jaunā projekta ēkā. V...  ...    25  €/day

[5 rows x 9 columns]

In [60]:
dtemp.to_excel("centrs_30.xlsx")

In [ ]:
centrs

'https://www.ss.com/en/real-estate/flats/riga/centre/hand_over/'

In [ ]:
tokens = centrs.split("/")
tokens

['https:',
 '',
 'www.ss.com',
 'en',
 'real-estate',
 'flats',
 'riga',
 'centre',
 'hand_over',
 '']

In [ ]:
prefix = tokens[-3]+"_"+tokens[-2]
prefix

'centre_hand_over'

In [ ]:
from datetime import datetime

In [ ]:
now = datetime.now()
now.year, now.month, now.day, now.hour, now.minute

(2020, 12, 2, 17, 54)

In [ ]:
fname = f"{prefix}_{now.month}_{now.day}_{ now.hour}_{ now.minute}.xlsx"
fname

'centre_hand_over_12_2_17_54.xlsx'

In [ ]:
datetime.timestamp()

In [61]:
def getDFfromURL(url, save_to_excel=False):
    # print("getting data from", url)
    req = requests.get(url)
    if req.status_code != 200:
        print("Request Fail with", req.status_code)
        return None # maybe return empty dataframe here
    soup = BeautifulSoup(req.text, 'lxml')
    column_names = getColList(soup)
    rowlist = getRowList(soup)
    rows = getRows(rowlist,colist=column_names)
    df = pd.DataFrame(rows, columns=column_names)
    if save_to_excel:
        tokens = url.split("/")
        prefix = tokens[-3]+"_"+tokens[-2]
        now = datetime.now()
        fname = f"{prefix}_{now.month}_{now.day}_{now.hour}_{now.minute}.xlsx"
        df.to_excel(fname)
    return df

In [62]:
centrs

'https://www.ss.com/en/real-estate/flats/riga/centre/hand_over/'

In [63]:
agens = "https://www.ss.com/lv/real-estate/flats/riga/agenskalns/hand_over/"
agens

'https://www.ss.com/lv/real-estate/flats/riga/agenskalns/hand_over/'

In [66]:
agens_df = getDFfromURL(agens, save_to_excel=True)
agens_df.head(10)  # see first 10 ads

                                         description  ...         Cena
0  Īpašnieks izīrē nelielu mūsdienīgu dzīvoklīti ...  ...  225  €/mēn.
1  Недавно закончили капитальный ремонт . Квартир...  ...  320  €/mēn.
2  Izīrē skaistu trīsistabu dzīvokli (viena istab...  ...  440  €/mēn.
3  Сдаю 1 комнатную квартиру. \r\nМалогабаритная ...  ...  150  €/mēn.
4  Izīrē ilgtermiņā divistabu dzīvokli ar kvalita...  ...  620  €/mēn.
5  Izīrē gaišu, koptu dzīvokli, klusā vietā pretī...  ...  430  €/mēn.
6  Сдаётся тёплая квартира, квартира находится не...  ...  250  €/mēn.
7  Piedāvājam īrēt labiekārtotu un modernu viesnī...  ...  350  €/mēn.
8  Izīrē plašu, mājīgu un gaišu 3 istabu dzīvokli...  ...  335  €/mēn.
9  Piedāvājumā dzīvoklis vēsturiskā, atjaunotā un...  ...  220  €/mēn.

[10 rows x 9 columns]

In [ ]:
df = getDFfromURL(centrs, save_to_excel=True)

In [ ]:
df.shape

(30, 9)

In [ ]:
df.head()

,description,url,Street,R.,m2,Floor,Series,"Price, m2",Price
0,Divistabu dzīvoklis ar bezmaksas stāvvietu pie...,https://ss.com/msg/en/real-estate/flats/riga/c...,Miera 97,2,39,4/5,Chrusch.,8.46 €,330 €/mon.
1,Izīrē pilnībā mēbelētu dzīvokli jaunāja projek...,https://ss.com/msg/en/real-estate/flats/riga/c...,Terbatas 26a,2,31,2/5,New,14.52 €,450 €/mon.
2,Izīrē pilnībā mēbelētu dzīvokli pilsētas centr...,https://ss.com/msg/en/real-estate/flats/riga/c...,Terbatas 26a,2,43,1/6,New,10.47 €,450 €/mon.
3,Izīrē 2-istabu dzīvokli pēc kapitālā remonta a...,https://ss.com/msg/en/real-estate/flats/riga/c...,Chaka 148,2,60,3/5,Perewar,7.50 €,450 €/mon.
4,"Īpašniece piedāvā īrei ērtu, studijas tipa dzī...",https://ss.com/msg/en/real-estate/flats/riga/c...,Artilerijas 19,1,35,3/4,Recon.,10.57 €,370 €/mon.

## Now we want to find all pages with the same ads from the area
### some urls might have many ads some might have a single page

In [89]:

# https://developer.mozilla.org/en-US/docs/Web/HTML/Element/a
anchors = soup.find_all("a")
len(anchors)

99

In [68]:
anchors[:5]

[<a href="/" title="Advertisements"><img alt="Advertisements" border="0" class="page_header_logo" src="https://i.ss.com/img/p.gif"/></a>,
 <a class="a_menu" href="/en/real-estate/flats/new/" title="Post Advertisement">Post Advertisement</a>,
 <a class="a_menu" href="/en/login/" title="My Adverts">My Adverts</a>,
 <a class="a_menu" href="/en/real-estate/flats/riga/centre/search/" title="Search advertisement">Search</a>,
 <a class="a_menu" href="/en/favorites/" title="Favorites">Favorites</a>]

In [90]:
navs = [anchor for anchor in anchors if anchor.get("name") == "nav_id"] # get will get us None if no "name" exists
len(navs)

10

In [91]:
navs[0]

<a class="navi" href="/en/real-estate/flats/riga/centre/hand_over/page21.html" name="nav_id" rel="prev"><img border="0" height="5" src="https://i.ss.com/img/s_left.png" style="padding-bottom:2px;" width="9"/> Previous</a>

In [92]:
navs[0].attrs

{'class': ['navi'],
 'href': '/en/real-estate/flats/riga/centre/hand_over/page21.html',
 'name': 'nav_id',
 'rel': ['prev']}

In [72]:
navs[0]['href']

'/en/real-estate/flats/riga/centre/hand_over/page21.html'

In [93]:
# could use regular expression here but we can use split 
afterpage = navs[0]['href'].split("/page")[-1] # -1 might be safer than 1 in case there is region with name page
afterpage

'21.html'

In [94]:
beforedot = afterpage.split(".html")[0]
beforedot

'21'

In [95]:
lastpage = int(beforedot)  # need to cast this to integer
lastpage

21

In [96]:
def getAllLocalUrls(url):
    """Get a list of all urls including paginated pages"""
    results = [url] # default is just the url if no extra pages found like Boldaraja :)
    req = requests.get(url)
    if req.status_code != 200:
        print(f"Bad response! {req.status_code}")
        return []
    soup = BeautifulSoup(req.text, 'lxml')
    # we just need a one element
    prevanchor = soup.find('a', {"rel":"prev"})
    if prevanchor == None: # means there is only one page of ads
        return results
    href = prevanchor.attrs.get('href')
    lastPageNum = int(href.split('/page')[-1].split('.html')[0])
    print("Last page is",lastPageNum)
    nurls = [f"{url}page{n}.html" for n in range(2,lastPageNum+1)]
    results += nurls
    return results

In [97]:
centrs

'https://www.ss.com/en/real-estate/flats/riga/centre/hand_over/'

In [99]:
local_urls = getAllLocalUrls(centrs)
len(local_urls),local_urls[:3],local_urls[-3:]

Last page is 21

(21,
 ['https://www.ss.com/en/real-estate/flats/riga/centre/hand_over/',
  'https://www.ss.com/en/real-estate/flats/riga/centre/hand_over/page2.html',
  'https://www.ss.com/en/real-estate/flats/riga/centre/hand_over/page3.html'],
 ['https://www.ss.com/en/real-estate/flats/riga/centre/hand_over/page19.html',
  'https://www.ss.com/en/real-estate/flats/riga/centre/hand_over/page20.html',
  'https://www.ss.com/en/real-estate/flats/riga/centre/hand_over/page21.html'])

In [100]:
dlast = getDFfromURL(local_urls[-1])
dlast.shape

(8, 9)

In [101]:
dlast

                                         description  ...        Price
0  Ilgtermiņā izīrē plašu 2 istabu dzīvokli Rīgas...  ...  320  €/mon.
1  Kluss pagalma dzīvoklis Centrā\r\n\r\nIzīrē pl...  ...  580  €/mon.
2  Piedāvājam izīrēt dzīvokli Rīgas centrā. Bezma...  ...    38  €/day
3  Сдаётся однокомнатная квартира со всеми удобст...  ...  210  €/mon.
4  Izīrē jaunajā projektā komfortablu, kompaktu u...  ...    25  €/day
5  Izīrē īstermiņā, Vecrīga - ideāla atrašanās vi...  ...    50  €/day
6  Rīgas centrs - ideāla atrašanās vieta, moderns...  ...    45  €/day
7  Istaba īsire. ilgtermiņā. virtuve, tualete un ...  ...    20  €/day

[8 rows x 9 columns]

In [102]:
def get_all_ads_df(start_url, save_excel_path=None):
    df_list=[] # so we will save our dataframes in a list
    local_urls = getAllLocalUrls(start_url)
    for url in local_urls:
        print(f"Gathering data from {url}")
        df_list.append(getDFfromURL(url))
        time.sleep(0.3) # we need this to play nice! we want a little bit of delay (300ms here) to not overload the server
    # https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.concat.html
    big_df = pd.concat(df_list) # then make a big dataframe from all the small dataframes - tables
    if save_excel_path:
        big_df.to_excel(save_excel_path)
    return big_df

In [103]:
centrs

'https://www.ss.com/en/real-estate/flats/riga/centre/hand_over/'

In [104]:
df = get_all_ads_df(centrs, "centrs_01_12_21.xlsx")

Last page is 21
Gathering data from https://www.ss.com/en/real-estate/flats/riga/centre/hand_over/
Gathering data from https://www.ss.com/en/real-estate/flats/riga/centre/hand_over/page2.html
Gathering data from https://www.ss.com/en/real-estate/flats/riga/centre/hand_over/page3.html
Gathering data from https://www.ss.com/en/real-estate/flats/riga/centre/hand_over/page4.html
Gathering data from https://www.ss.com/en/real-estate/flats/riga/centre/hand_over/page5.html
Gathering data from https://www.ss.com/en/real-estate/flats/riga/centre/hand_over/page6.html
Gathering data from https://www.ss.com/en/real-estate/flats/riga/centre/hand_over/page7.html
Gathering data from https://www.ss.com/en/real-estate/flats/riga/centre/hand_over/page8.html
Gathering data from https://www.ss.com/en/real-estate/flats/riga/centre/hand_over/page9.html
Gathering data from https://www.ss.com/en/real-estate/flats/riga/centre/hand_over/page10.html
Gathering data from https://www.ss.com/en/real-estate/flats/riga/centre/hand_over/page11.html
Gathering data from https://www.ss.com/en/real-estate/flats/riga/centre/hand_over/page12.html
Gathering data from https://www.ss.com/en/real-estate/flats/riga/centre/hand_over/page13.html
Gathering data from https://www.ss.com/en/real-estate/flats/riga/centre/hand_over/page14.html
Gathering data from https://www.ss.com/en/real-estate/flats/riga/centre/hand_over/page15.html
Gathering data from https://www.ss.com/en/real-estate/flats/riga/centre/hand_over/page16.html
Gathering data from https://www.ss.com/en/real-estate/flats/riga/centre/hand_over/page17.html
Gathering data from https://www.ss.com/en/real-estate/flats/riga/centre/hand_over/page18.html
Gathering data from https://www.ss.com/en/real-estate/flats/riga/centre/hand_over/page19.html
Gathering data from https://www.ss.com/en/real-estate/flats/riga/centre/hand_over/page20.html
Gathering data from https://www.ss.com/en/real-estate/flats/riga/centre/hand_over/page21.html

In [105]:
df.shape

(608, 9)

In [106]:
df.head()

                                         description  ...        Price
0  Izīrē 2-istabu dzīvokli ilgtermiņa īrei Rīgas ...  ...  430  €/mon.
1  Izīrējam ļoti mājīgu un plašu 90 m2 3-istabu d...  ...  380  €/mon.
2  Izīrējam dzīvokli, klusais centrs Vēstniecību ...  ...  700  €/mon.
3  Fasādes māja, bezmaksas stāvvieta pagalmā. \r\...  ...  320  €/mon.
4  Izīrēju skaistu dzīvokli jaunā projekta ēkā. V...  ...    25  €/day

[5 rows x 9 columns]

In [107]:
df.tail()

                                         description  ...        Price
3  Сдаётся однокомнатная квартира со всеми удобст...  ...  210  €/mon.
4  Izīrē jaunajā projektā komfortablu, kompaktu u...  ...    25  €/day
5  Izīrē īstermiņā, Vecrīga - ideāla atrašanās vi...  ...    50  €/day
6  Rīgas centrs - ideāla atrašanās vieta, moderns...  ...    45  €/day
7  Istaba īsire. ilgtermiņā. virtuve, tualete un ...  ...    20  €/day

[5 rows x 9 columns]

In [87]:
df.shape

(608, 9)

In [108]:
#we can do more post processing - feature engineering using existing columns
df[['CurFloor','MaxFloor']] = df.Floor.str.split("/",expand=True) 
df.head()

                                         description  ... MaxFloor
0  Izīrē 2-istabu dzīvokli ilgtermiņa īrei Rīgas ...  ...        4
1  Izīrējam ļoti mājīgu un plašu 90 m2 3-istabu d...  ...        1
2  Izīrējam dzīvokli, klusais centrs Vēstniecību ...  ...        5
3  Fasādes māja, bezmaksas stāvvieta pagalmā. \r\...  ...        7
4  Izīrēju skaistu dzīvokli jaunā projekta ēkā. V...  ...        9

[5 rows x 11 columns]

In [109]:
df.sort_values(by="Floor",ascending=False).head()

                                          description  ... MaxFloor
4   Izīrēju skaistu dzīvokli jaunā projekta ēkā. V...  ...        9
21  For rent 2-bedroom apartment in a new building...  ...        9
29  Пентхаус с террасой и видом на город. \r\nKрас...  ...        7
1   Мансарда. Центр. Своё отопление. \r\nКрасиво, ...  ...        7
20  Izīrējam dzīvokli Rīgas pilsētas centrā - "Upī...  ...        7

[5 rows x 11 columns]

In [ ]:
df.to_excel("c:/temp/my_apartments.xlsx") # i could this with absolute path

In [ ]:
from datetime import datetime as dt
now = dt.now()
now.month, now.day, now.hour, now.second

In [ ]:
url = "https://www.ss.com/lv/real-estate/flats/riga/sarkandaugava/hand_over/"
region = url.split("riga/")[-1].split("/")[0]
now = dt.now()
save_path = f"../data/{region}_{now.day}_{now.month}__{now.hour}_{now.second}.xlsx"
save_path

In [ ]:
url = "https://www.ss.com/lv/real-estate/flats/riga/sarkandaugava/hand_over/"
region = url.split("riga/")[-1].split("/")[0]
now = dt.now()
save_path = f"../data/{region}_{now.day}_{now.month}__{now.hour}_{now.second}.xlsx"

df = get_all_ads_df(url, save_path)

In [ ]:
url = "https://www.ss.com/lv/transport/cars/vaz/riga_f/"
df = get_all_ads_df(url, "../data/vaz_25_11.xlsx")

In [110]:
sarkandaugava_url = "https://www.ss.com/lv/real-estate/flats/riga/sarkandaugava/hand_over/"
sarkandaugava_url

'https://www.ss.com/lv/real-estate/flats/riga/sarkandaugava/hand_over/'

In [111]:
sarkan_df = get_all_ads_df(sarkandaugava_url, "sarkandaugava_01_12_21.xlsx")
sarkan_df

Last page is 2
Gathering data from https://www.ss.com/lv/real-estate/flats/riga/sarkandaugava/hand_over/
Gathering data from https://www.ss.com/lv/real-estate/flats/riga/sarkandaugava/hand_over/page2.html

                                          description  ...         Cena
0   Saimniece izīrē divistaba dzīvokli ar malkas a...  ...  240  €/mēn.
1   Сдается однокомнатная квартира со всеми удобст...  ...  220  €/mēn.
2   Квартира в сталинском доме, высокий первый эта...  ...  300  €/mēn.
3   Izīrē dzīvokli ar visām ērtībām, tehniku, dīvā...  ...  250  €/mēn.
4   Izīrē ērtu dzīvokli ar remontu un mēbelēm. Krā...  ...  160  €/mēn.
5   Владелец сдаёт мебелированную, со всеми удобст...  ...  280  €/mēn.
6   Tikko pēc kosmētiska remonta. Istabas caurstai...  ...  320  €/mēn.
7   Izīrē 2istabu dzīvokli Sarkandaugavā, Limbažu ...  ...  200  €/mēn.
8   Izīrēju divistaba dzīvokli ar daļējām ērtībām ...  ...  180  €/mēn.
9   Uz ilgtermiņa īri pieejams saulains, remontēts...  ...  330  €/mēn.
10  Īpašnieks izīrē uz ilgu laiku pilnībā mēbelēti...  ...  285  €/mēn.
11  Piedāvājam īrei mēbelētu 3 istabu dzīvokli. Vi...  ...  300  €/mēn.
12  Сдается уютная, тёплая квартира, есть всё для ...  ...  220  €/mēn.
13                                      Uz ilgterminu  ...  300  €/mēn.
14  "Как мило. "- воскликнете Вы, оказавшись в это...  ...  220  €/mēn.
15  Tiek izīrēts divistabu dzīvoklis Sarkandaugava...  ...  300  €/mēn.
16  Ar decembri izīrējam foršu 1 istabas dzīvokli ...  ...  260  €/mēn.
17  Īpašnieks izīrē labiekārtotu vienistabas dzīvo...  ...  170  €/mēn.
18  На срок по договоренности аккуратным, спокойны...  ...  250  €/mēn.
19  Izīrē mēbelētu 1-istabas dzīvokli Sarkandaugav...  ...  220  €/mēn.
20  Izīrē gaišu studio tipa divistabu dzīvokli jau...  ...  270  €/mēn.
21  Saimnieks izīrē kvalitatīvi izremontētu studio...  ...  200  €/mēn.
22  Хозяйка сдаёт однокомнатную квартиру, печное о...  ...  200  €/mēn.
23  Tiek izīrēts 1-ist. dzīvoklis pēc kap. remonta...  ...  200  €/mēn.
24  Pagalma māja, labiekārtota apzaļumota teritori...  ...  300  €/mēn.
25  Izīrē 2-istabu dzīvoklī Sarkandaugavā. Dzīvokl...  ...  250  €/mēn.
26  Tiek izzīrēts saulains studiotipa dzīvoklis ar...  ...  220  €/mēn.
27  Сдаётся квартира на длительный срок. Район Сар...  ...  180  €/mēn.
28  Lat - Eng / Īpašnieks izīrē labiekārtotu 38 kv...  ...  360  €/mēn.
29  Mājīgs, gaišs un ļoti silts dzīvoklis. Dzīvokl...  ...  250  €/mēn.
0   Izīrēju vien istaba dzīvokli ar daļējām ērtībā...  ...  160  €/mēn.
1   Tiek izīrēts mēbelēts dzīvoklis. 3, 5 istabas....  ...  850  €/mēn.
2   Сдается очень уютная 2-х комнатная квартира с ...  ...  290  €/mēn.
3   Kārtīgiem īrniekiem izīrē siltu 2-istabu dzīvo...  ...  300  €/mēn.
4   Īpašnieks ilgtermiņā izīrē tikko izremontētu, ...  ...  380  €/mēn.
5   Сдам квартиру на длительный срок с мебелью без...  ...  210  €/mēn.
6   Burvīgais 2 istabu studio tipa dzīvoklis ar te...  ...  35  €/dienā
7   Īpašniece izīrē, dzīvoklis mēbelēts, duškabīne...  ...  130  €/mēn.
8   Сдаем квартиру на улице Hapsalas 5, 5-ый этаж ...  ...  170  €/mēn.
9   Izīrēju vienistabas dzīvokli saimnieka mājā. D...  ...  100  €/mēn.
10  Izīrē plašu, ekonomisku, svaigi remontētu 1.is...  ...  140  €/mēn.
11  Tiek izīrēts 2-ist. dzīvoklis pēc kap. remonta...  ...  280  €/mēn.
12  Īzīrē 1-istabas dzīvokli, īrniekam bez dzīvnie...  ...  180  €/mēn.
13  Labdien, \r\nIzīrējam vienu istabu dienesta dz...  ...  110  €/mēn.
14  Izīrējam mājīgu dzīvokli, viena istaba izolēta...  ...  300  €/mēn.
15  Meklējam kārtīgus ilglaicīgus īrniekus saulain...  ...  420  €/mēn.
16  Īpašnieks izīrē gaišu, saulainu 2istabu dzīvok...  ...  300  €/mēn.
17  Izīrēju 48 m2 vienistabas dzīvokli. Visas ērtī...  ...  280  €/mēn.
18  Īpašnieks izīrē 3 istabu dzīvokli Rīgā, Viestu...  ...  320  €/mēn.

[49 rows x 9 columns]

# TODO 
# Try with different starting address not only centrs
## Maybe combine regions
## See how it would work with maybe cars
## Data engineering make new columns based on existing ones, clean some columns
### Changing floors 2/6 to columns 2 and 6, clean up Euro signs
## Sorting, Describing, Grouping by regions etc

In [ ]:
df = pd.read_excel("centrs_25_11.xlsx")
df.head()

In [ ]:
df["price"] = df.Cena.str.split(' ').str[0]
df.head()

In [ ]:
df.price = df.price.str.replace(",","").astype('int32')
df.head()

In [ ]:
df.price.hist()

In [ ]:
df[['Floor','MaxFloor']] = df.Stāvs.str.split("/",expand=True) 
df.info()

In [ ]:
#typecasting example
df.Floor = df.Floor.astype('int32')
df.MaxFloor = df.MaxFloor.astype('int32')

In [ ]:
df.describe().T # T is for transposing rows and columns

In [ ]:
df.describe().T.to_csv("center_stats.csv")

In [ ]:
import plotly.express as px

In [ ]:
fig = px.histogram(df, x="price")
fig.show()

In [ ]:
import seaborn as sns # seaborn sits on top of matplotlib with better defaults
import matplotlib.pyplot as plt

In [ ]:
# Basic correlogram
sns.pairplot(df)

In [ ]:
# Basic correlogram
sns.pairplot(df)

In [ ]:
volvo_url = "https://www.ss.com/lv/transport/cars/volvo/sell/"
gr_auto = df.groupby(["Gads","Modelis"])["Cena"].agg(["min", "max", "mean"])  #.head(n = 10)

In [ ]:
print(dt.today())

In [ ]:
suzuki_url = "https://www.ss.com/lv/transport/cars/suzuki/"
# sdf = get_all_ads_df(suzuki_url, f"suzuki_{dt.today()}.xlsx")
sdf = get_all_ads_df(suzuki_url, f"suzuki.xlsx")
sdf.head()

In [ ]:
sdf.info()

In [ ]:
sdf["Tilp."] = sdf["Tilp."].str.replace("\w","", regex=True)
sdf.head()

In [ ]:
sdf["Nobrauk."] = sdf["Nobrauk."].str.replace("\D","", regex=True) # so no digits removed
sdf.head()

In [ ]:
sdf["Cena"] = sdf["Cena"].str.replace("\D","", regex=True) # so no digits removed
sdf.head()

In [ ]:
sdf = sdf.dropna(how="any", axis=0)
sdf

In [ ]:
sdf = sdf[sdf["Nobrauk."].str.len() > 0] # got rid of those empty rows finally
sdf

In [ ]:
sdf["Cena"] = sdf["Cena"].astype("float32")

In [ ]:
gr_auto = sdf.groupby(["Gads","Modelis"])["Cena"].agg(["count","min", "max", "mean"]) 
gr_auto