In [1]:
# Requests for handling HTTP get and other requests
import requests # this is external library often used for web scraping
import time # import for playing nice and not getting blocked
import pandas as pd
from datetime import datetime # standard library for date and time
# from BeautifulSoup4 import BeatifulSoup if installed through pip install BeautifulSoup4
# 
from bs4 import BeautifulSoup # an external library for parsing HTML (and XML) content

# all of the above should be available on Google Colab as well as your local machine

In [ ]:
# if bs4 not found install it with
#  !pip install beatifulsoup4
# https://www.crummy.com/software/BeautifulSoup/

In [2]:
!dir
# ar ! i can run command line commands

sample_data

In [2]:
# first we get the url we want to scrape
# centrs = "https://www.ss.com/lv/real-estate/flats/riga/centre/sell/"
# centrs = "https://www.ss.com/en/real-estate/flats/riga/centre/hand_over/"
centrs = "https://www.ss.com/en/real-estate/flats/riga/centre/sell/"
centrs

'https://www.ss.com/en/real-estate/flats/riga/centre/sell/'

In [3]:
# here we make a something called HTTP GET request to the url in centrs
# so very similar to what the browser does
req = requests.get(centrs) # here we make a request to the url in centrs, and store the response in req
req.status_code
# so where we could use our status_code to check if our request went through sucessfully
# so 200 is the ALL OK code in HTTP, many 4xx and 5xxx failure codes

200

In [ ]:
# list of HTTP response codes
# https://en.wikipedia.org/wiki/List_of_HTTP_status_codes

In [4]:
# so now we can start working with the response without making additional requests
req.text[:300] # first 300 text charactersb

'<!DOCTYPE html>\r\n<HTML><HEAD>\r\n<title>SS.COM Flats - Riga - Centre, Prices, Sell - Advertisements</title>\r\n<meta http-equiv="Content-Type" CONTENT="text/html; charset=UTF-8">\r\n<meta name="viewport" content="user-scalable=1, width=device-width, initial-scale=1.0"/>\r\n<meta name="keywords" content="Adv'

In [5]:
# we could attempt to parse the text with the standard library, but it is not very time consuming
"Vald" in req.text

True

In [6]:
req.text.index("Vald")

16089

In [7]:
req.text[16089-30:16089+30] # getting some text around what I was looking forb

'</option><option value="4545">Valdemara</option><option valu'

In [8]:
req.text.count("Valdemara")

5

In [11]:
# we could actually get the whole table with pandas library

In [12]:
data_frames = pd.read_html(centrs)  #this reads ALL the tables on the web page
len(data_frames)

7

In [13]:
df = data_frames[4]  # we want the 5th table
df.head()

                       0                      1  ...          8           9
0  Advertisements \tdate  Advertisements \tdate  ...  Price, m2       Price
1                    NaN                    NaN  ...     8.60 €  430 €/mon.
2                    NaN                    NaN  ...     4.22 €  380 €/mon.
3                    NaN                    NaN  ...    11.67 €  700 €/mon.
4                    NaN                    NaN  ...     4.92 €  320 €/mon.

[5 rows x 10 columns]

In [14]:
df.to_excel("riga_center_page1.xlsx")

In [ ]:
# we could manually use text searching tools to work on the whole text of html but it would not convenient
# many other people have already written tools to parse/structure this text

In [10]:
# parser means structuring your text into some data structure
# we pass the text of the response to the parser
soup = BeautifulSoup(req.text, 'lxml') # lxml is improved parser, a little bit more lenient towards badly structured HTML 
# you could also use default parser
# soup = BeautifulSoup(req.text)
soup.title

In [11]:
type(soup)  # so we have soup object which contains all the information about the page in a structured manner

bs4.BeautifulSoup

In [ ]:
# using . notation on soup object we can access the different parts of the page

In [12]:
# https://www.crummy.com/software/BeautifulSoup/bs4/doc/#find-all
tables = soup.find_all("table") # finds ALL elements matching our filter
len(tables) # it will be a list of some length, possibly 0 if we did not find any elements

6

In [ ]:
# Now we want to find what our column names should be no matter the type of ad
# tr stands for table row
# mdn tr documentation
# https://developer.mozilla.org/en-US/docs/Web/HTML/Element/tr

In [13]:
# find finds just one(first) match
headline = soup.find("tr", {"id":"head_line"}) # this is a shorter way of finding by tr AND this element having particular id
headline

<tr id="head_line">
<td class="msg_column" colspan="3" width="70%">
<span style="float:left;"> Advertisements
</span>
<span align="right" class="msg_column" style="float:right;text-align:right;padding-right:3px;">
<noindex>
<a class="a19" href="/en/real-estate/flats/riga/centre/sell/fDgSeF4S.html" rel="nofollow">date</a></noindex></span>
</td>
<td class="msg_column_td" nowrap=""><noindex><a class="a18" href="/en/real-estate/flats/riga/centre/sell/fDgSeF4SFDwT.html" rel="nofollow" title="">Street</a></noindex></td><td class="msg_column_td" nowrap=""><noindex><a class="a18" href="/en/real-estate/flats/riga/centre/sell/fDgSeF4SelM=.html" rel="nofollow" title="">R.</a></noindex></td><td class="msg_column_td" nowrap=""><noindex><a class="a18" href="/en/real-estate/flats/riga/centre/sell/fDgSeF4QelM=.html" rel="nofollow" title="">m2</a></noindex></td><td class="msg_column_td" nowrap=""><noindex><a class="a18" href="/en/real-estate/flats/riga/centre/sell/fDgSeF4XelM=.html" rel="nofollow" title="">Floor</a></noindex></td><td class="msg_column_td" nowrap=""><noindex><a class="a18" href="/en/real-estate/flats/riga/centre/sell/fDgSeF4VelM=.html" rel="nofollow" title="">Series</a></noindex></td><td background="https://i.ss.com/img/pl.gif" class="msg_column" nowrap="" style="border-left:1px #FFFFFF solid;"><noindex><a class="a18" href="/en/real-estate/flats/riga/centre/sell/fDgSeF4bRDwT.html" rel="nofollow">Price, m2</a></noindex></td><td class="msg_column_td" nowrap=""><noindex><a class="a18" href="/en/real-estate/flats/riga/centre/sell/fDgSeF4belM=.html" rel="nofollow" title="">Price</a></noindex></td></tr>

In [14]:
type(headline)

bs4.element.Tag

In [15]:
# next we can search through the headling table row element and find individual table data elements
headtds = headline.find_all("td")
# https://developer.mozilla.org/en-US/docs/Web/HTML/Element/td
headtds  # a list of td elements

[<td class="msg_column" colspan="3" width="70%">
 <span style="float:left;"> Advertisements
 </span>
 <span align="right" class="msg_column" style="float:right;text-align:right;padding-right:3px;">
 <noindex>
 <a class="a19" href="/en/real-estate/flats/riga/centre/sell/fDgSeF4S.html" rel="nofollow">date</a></noindex></span>
 </td>,
 <td class="msg_column_td" nowrap=""><noindex><a class="a18" href="/en/real-estate/flats/riga/centre/sell/fDgSeF4SFDwT.html" rel="nofollow" title="">Street</a></noindex></td>,
 <td class="msg_column_td" nowrap=""><noindex><a class="a18" href="/en/real-estate/flats/riga/centre/sell/fDgSeF4SelM=.html" rel="nofollow" title="">R.</a></noindex></td>,
 <td class="msg_column_td" nowrap=""><noindex><a class="a18" href="/en/real-estate/flats/riga/centre/sell/fDgSeF4QelM=.html" rel="nofollow" title="">m2</a></noindex></td>,
 <td class="msg_column_td" nowrap=""><noindex><a class="a18" href="/en/real-estate/flats/riga/centre/sell/fDgSeF4XelM=.html" rel="nofollow" title="">Floor</a></noindex></td>,
 <td class="msg_column_td" nowrap=""><noindex><a class="a18" href="/en/real-estate/flats/riga/centre/sell/fDgSeF4VelM=.html" rel="nofollow" title="">Series</a></noindex></td>,
 <td background="https://i.ss.com/img/pl.gif" class="msg_column" nowrap="" style="border-left:1px #FFFFFF solid;"><noindex><a class="a18" href="/en/real-estate/flats/riga/centre/sell/fDgSeF4bRDwT.html" rel="nofollow">Price, m2</a></noindex></td>,
 <td class="msg_column_td" nowrap=""><noindex><a class="a18" href="/en/real-estate/flats/riga/centre/sell/fDgSeF4belM=.html" rel="nofollow" title="">Price</a></noindex></td>]

In [16]:
len(headtds) # so we have some of lements (could be 8, 10 depends on the type of ad)

8

In [17]:
headline.text # the text is extracted from children, grandchildren, greatgrandchildren elements and so on

'\n\n\xa0Advertisements\r\n\n\n\ndate\n\nStreetR.m2FloorSeriesPrice, m2Price'

In [18]:
headtds[3].text  # so text of 4th child of headline (which is tr with id headline) element

'm2'

In [19]:
# so we do not want announcements and data so we will skip the first TD with headtds[1:]
headcolumns = [el.text for el in headtds[1:]] #.text gets us content even from children and grandchildren
headcolumns

['Street', 'R.', 'm2', 'Floor', 'Series', 'Price, m2', 'Price']

In [20]:
# lets combine the above cells into a function which will always get us columns
def getColList(soup):
    column_list = ["description","url"] # we decided to that we need these two column names no matter the html
    headline = soup.find("tr", {"id":"head_line"})
    headtds = headline.find_all("td")
    headcolumns = [el.text for el in headtds[1:]] # this will get all column names starting with 2nd in HTML
    column_list += headcolumns # we add the head columns to our initial column list
    return column_list

In [21]:
# now that I have a function I can use it on any soup object
column_names = getColList(soup)
column_names # so this should work no matter what type of SS.com page the soup is made of

['description',
 'url',
 'Street',
 'R.',
 'm2',
 'Floor',
 'Series',
 'Price, m2',
 'Price']

In [23]:
trows = soup.find_all('tr')  # so i want all table rows on the page
len(trows) # i get more than 30 rows, so I need to filter them

39

In [24]:
print(trows[5]) # our first ad so from trows[5] to trows[34 would work as well]

<tr id="tr_52107090"><td class="msga2 pp0"><input id="c52107090" name="mid[]" type="checkbox" value="52107090_1106_0"/></td><td class="msga2"><a href="/msg/en/real-estate/flats/riga/centre/dhfdn.html" id="im52107090"><img alt="" class="isfoto foto_list" src="https://i.ss.com/gallery/5/986/246256/49251098.th2.jpg"/></a></td><td class="msg2"><div class="d1"><a class="am" data="JTlFZyU5OW8lOUJ4JUUzZyU5OGglQTQlN0UlOUVtJTk2bCU5RXolOUVpJTkyaCU5QnUlOTc=|g6b6kE" href="/msg/en/real-estate/flats/riga/centre/dhfdn.html" id="dm_52107090">Двухкомнатная квартира с парковочным местом во дворе дома, с изо</a></div></td><td c="1" class="msga2-o pp6" nowrap="">Valdemara 81</td><td c="1" class="msga2-o pp6" nowrap="">2</td><td c="1" class="msga2-o pp6" nowrap="">48</td><td c="1" class="msga2-o pp6" nowrap="">2/5</td><td c="1" class="msga2-o pp6" nowrap="">Pre-war house</td><td c="1" class="msga2-o pp6" nowrap="">1,927 €</td><td c="1" class="msga2-o pp6" nowrap="">92,500  €</td></tr>

In [25]:
# less flexible solution would be to hard code this
all_ads = trows[5:35] # so starting from 6th element to 35th element
all_ads[-1] # last one - 35

<tr id="tr_52259765"><td class="msga2 pp0"><input id="c52259765" name="mid[]" type="checkbox" value="52259765_1106_0"/></td><td class="msga2"><a href="/msg/en/real-estate/flats/riga/centre/aghmp.html" id="im52259765"><img alt="" class="isfoto foto_list" src="https://i.ss.com/gallery/5/997/249235/49846877.th2.jpg"/></a></td><td class="msg2"><div class="d1"><a class="am" data="JUFCcXMlQTMlQTklQUIlRUVpeCU5RCVBQSVBOCVBQW52JUEyJUE2JUE5JUFCa3IlQTIlQTMlQTglQTI=|r8Bmsx" href="/msg/en/real-estate/flats/riga/centre/aghmp.html" id="dm_52259765">Pārdodas tikko izremontēts 2 istabu dzivoklis. Bezmāksās stavvie</a></div></td><td c="1" class="msga2-o pp6" nowrap="">Barona 76</td><td c="1" class="msga2-o pp6" nowrap="">2</td><td c="1" class="msga2-o pp6" nowrap="">48</td><td c="1" class="msga2-o pp6" nowrap="">5/5</td><td c="1" class="msga2-o pp6" nowrap="">Pre-war house</td><td c="1" class="msga2-o pp6" nowrap="">1,833 €</td><td c="1" class="msga2-o pp6" nowrap="">87,999  €</td></tr>

In [ ]:
# if i had no other choices I could find starting and end index by hand and hard code it
# but that is liable to change between pages

In [26]:
# hardest part in this 
# how to filter only specific rows
# we need to find something that is unique to our apartment rows but not to the extra rows
# remember we id is not guaranteed, so "" gives us default value when there is no id
# because it is possible there is no id atrribute at all
# sometimes there were unusable rows with tr_bnr attribute
# in this recipe you would change the startswith to whatever you need in your case
# and not row.get('id',"").startswith("tr_bnr") is not needed anymore but left for legacy reasons
apt_rows = [row for row in trows if row.get('id',"").startswith("tr_") and not row.get('id',"").startswith("tr_bnr") ]
len(apt_rows)

30

In [27]:
apt_rows[-1]

<tr id="tr_52259765"><td class="msga2 pp0"><input id="c52259765" name="mid[]" type="checkbox" value="52259765_1106_0"/></td><td class="msga2"><a href="/msg/en/real-estate/flats/riga/centre/aghmp.html" id="im52259765"><img alt="" class="isfoto foto_list" src="https://i.ss.com/gallery/5/997/249235/49846877.th2.jpg"/></a></td><td class="msg2"><div class="d1"><a class="am" data="JUFCcXMlQTMlQTklQUIlRUVpeCU5RCVBQSVBOCVBQW52JUEyJUE2JUE5JUFCa3IlQTIlQTMlQTglQTI=|r8Bmsx" href="/msg/en/real-estate/flats/riga/centre/aghmp.html" id="dm_52259765">Pārdodas tikko izremontēts 2 istabu dzivoklis. Bezmāksās stavvie</a></div></td><td c="1" class="msga2-o pp6" nowrap="">Barona 76</td><td c="1" class="msga2-o pp6" nowrap="">2</td><td c="1" class="msga2-o pp6" nowrap="">48</td><td c="1" class="msga2-o pp6" nowrap="">5/5</td><td c="1" class="msga2-o pp6" nowrap="">Pre-war house</td><td c="1" class="msga2-o pp6" nowrap="">1,833 €</td><td c="1" class="msga2-o pp6" nowrap="">87,999  €</td></tr>

In [28]:
apt_rows[0]

<tr id="tr_52107090"><td class="msga2 pp0"><input id="c52107090" name="mid[]" type="checkbox" value="52107090_1106_0"/></td><td class="msga2"><a href="/msg/en/real-estate/flats/riga/centre/dhfdn.html" id="im52107090"><img alt="" class="isfoto foto_list" src="https://i.ss.com/gallery/5/986/246256/49251098.th2.jpg"/></a></td><td class="msg2"><div class="d1"><a class="am" data="JTlFZyU5OW8lOUJ4JUUzZyU5OGglQTQlN0UlOUVtJTk2bCU5RXolOUVpJTkyaCU5QnUlOTc=|g6b6kE" href="/msg/en/real-estate/flats/riga/centre/dhfdn.html" id="dm_52107090">Двухкомнатная квартира с парковочным местом во дворе дома, с изо</a></div></td><td c="1" class="msga2-o pp6" nowrap="">Valdemara 81</td><td c="1" class="msga2-o pp6" nowrap="">2</td><td c="1" class="msga2-o pp6" nowrap="">48</td><td c="1" class="msga2-o pp6" nowrap="">2/5</td><td c="1" class="msga2-o pp6" nowrap="">Pre-war house</td><td c="1" class="msga2-o pp6" nowrap="">1,927 €</td><td c="1" class="msga2-o pp6" nowrap="">92,500  €</td></tr>

In [29]:
# lets make a function from the above doodle and make it work on most pages on SS
def getRowList(soup):
    trows = soup.find_all('tr')
    aprows = [row for row in trows if row.get('id',"").startswith("tr_") and not row.get('id',"").startswith("tr_bnr") ]
    return aprows

In [31]:
row_tds = apt_rows[0].find_all('td') # get all table data elements from first ad/row
len(row_tds)

10

In [32]:
row_tds

[<td class="msga2 pp0"><input id="c52107090" name="mid[]" type="checkbox" value="52107090_1106_0"/></td>,
 <td class="msga2"><a href="/msg/en/real-estate/flats/riga/centre/dhfdn.html" id="im52107090"><img alt="" class="isfoto foto_list" src="https://i.ss.com/gallery/5/986/246256/49251098.th2.jpg"/></a></td>,
 <td class="msg2"><div class="d1"><a class="am" data="JTlFZyU5OW8lOUJ4JUUzZyU5OGglQTQlN0UlOUVtJTk2bCU5RXolOUVpJTkyaCU5QnUlOTc=|g6b6kE" href="/msg/en/real-estate/flats/riga/centre/dhfdn.html" id="dm_52107090">Двухкомнатная квартира с парковочным местом во дворе дома, с изо</a></div></td>,
 <td c="1" class="msga2-o pp6" nowrap="">Valdemara 81</td>,
 <td c="1" class="msga2-o pp6" nowrap="">2</td>,
 <td c="1" class="msga2-o pp6" nowrap="">48</td>,
 <td c="1" class="msga2-o pp6" nowrap="">2/5</td>,
 <td c="1" class="msga2-o pp6" nowrap="">Pre-war house</td>,
 <td c="1" class="msga2-o pp6" nowrap="">1,927 €</td>,
 <td c="1" class="msga2-o pp6" nowrap="">92,500  €</td>]

In [33]:
# this is the checkbox we want nothing from that
row_tds[0].text

''

In [34]:
# second is the image table data cell
row_tds[1].text

''

In [35]:
row_tds[1].attrs

{'class': ['msga2']}

In [36]:
img = row_tds[1].find("img")
img

In [37]:
img.get("src")

'https://i.ss.com/gallery/5/986/246256/49251098.th2.jpg'

In [38]:
row_tds[2].text

'Двухкомнатная квартира с парковочным местом во дворе дома, с изо'

In [39]:
# last one should be price
row_tds[-1].text # notice this might need some cleaning to convert to number

'92,500  €'

In [40]:
# so second table data cell (which has alos has image) has anchor
a = row_tds[1].find('a') # a tag is called anchor tag
a

In [41]:
a.attrs  # so i can read attributes as a dictionary

{'href': '/msg/en/real-estate/flats/riga/centre/dhfdn.html',
 'id': 'im52107090'}

In [42]:
a.get('href'), a['href'] # two ways of accesing this attribute
# so all we need is to add http://www.ss.com in front

('/msg/en/real-estate/flats/riga/centre/dhfdn.html',
 '/msg/en/real-estate/flats/riga/centre/dhfdn.html')

In [43]:
column_names

['description',
 'url',
 'Street',
 'R.',
 'm2',
 'Floor',
 'Series',
 'Price, m2',
 'Price']

In [45]:
# combining all of the above work into a function
def getRow(row,colist=column_names):
    """
    row is a soup object representing a row of the table - tr element
    inside row should be some table data elements which we will extract
    along with the url and description
    colist is a list of column names
    """
    row_tds = row.find_all('td')  # find all table data elements
    rowDict = {} # we will store our data in a dictionary, so we can easily convert it to dataframe
    if len(row_tds) <3: # a little sanity check, if we have less than 3 table data elements we will skip this row
        print("Hmm bad row")
        return rowDict
    # first we save description
    rowDict[colist[0]] = row_tds[2].text # so the big assumption is that we always get description in 3rd column
    # then link to the ad
    rowDict[colist[1]] = "https://ss.com" + row_tds[1].find('a').get('href')
    # then we take the rest of the table data elements and use them as values for our dictionary with keys being the column names
    for td,key in zip(row_tds[3:],colist[2:]): # we zip two lists together and iterate over them
        rowDict[key] = td.text
    return rowDict

In [46]:
apt_rows[0] # first row of ads

<tr id="tr_52107090"><td class="msga2 pp0"><input id="c52107090" name="mid[]" type="checkbox" value="52107090_1106_0"/></td><td class="msga2"><a href="/msg/en/real-estate/flats/riga/centre/dhfdn.html" id="im52107090"><img alt="" class="isfoto foto_list" src="https://i.ss.com/gallery/5/986/246256/49251098.th2.jpg"/></a></td><td class="msg2"><div class="d1"><a class="am" data="JTlFZyU5OW8lOUJ4JUUzZyU5OGglQTQlN0UlOUVtJTk2bCU5RXolOUVpJTkyaCU5QnUlOTc=|g6b6kE" href="/msg/en/real-estate/flats/riga/centre/dhfdn.html" id="dm_52107090">Двухкомнатная квартира с парковочным местом во дворе дома, с изо</a></div></td><td c="1" class="msga2-o pp6" nowrap="">Valdemara 81</td><td c="1" class="msga2-o pp6" nowrap="">2</td><td c="1" class="msga2-o pp6" nowrap="">48</td><td c="1" class="msga2-o pp6" nowrap="">2/5</td><td c="1" class="msga2-o pp6" nowrap="">Pre-war house</td><td c="1" class="msga2-o pp6" nowrap="">1,927 €</td><td c="1" class="msga2-o pp6" nowrap="">92,500  €</td></tr>

In [47]:
getRow(apt_rows[0])

{'description': 'Двухкомнатная квартира с парковочным местом во дворе дома, с изо',
 'url': 'https://ss.com/msg/en/real-estate/flats/riga/centre/dhfdn.html',
 'Street': 'Valdemara 81',
 'R.': '2',
 'm2': '48',
 'Floor': '2/5',
 'Series': 'Pre-war house',
 'Price, m2': '1,927 €',
 'Price': '92,500  €'}

In [48]:
# so if we can get a row we can get all rows
def getRows(rowlist,colist=column_names):
    """
    rowlist is a list of soup objects representing rows of the table
    colist is a list of column names
    """
    return [getRow(row, colist=colist) for row in rowlist]

In [49]:
row_ads = getRows(apt_rows)
row_ads[-3:] # check last three ads

[{'description': 'Pieejams īpašums, kuru iespējams pārbūvēt par 4istabu dzīvokli, ',
  'url': 'https://ss.com/msg/en/real-estate/flats/riga/centre/enecj.html',
  'Street': 'Birznieka-Upisha 2..',
  'R.': '4',
  'm2': '98',
  'Floor': '5/7',
  'Series': 'New',
  'Price, m2': '1,797 €',
  'Price': '176,136  €'},
 {'description': 'Pārdodas tikko izremontēts 3 istabu dzivoklis, ir iespēja uztais',
  'url': 'https://ss.com/msg/en/real-estate/flats/riga/centre/aennj.html',
  'Street': 'Barona 70',
  'R.': '3',
  'm2': '78',
  'Floor': '5/5',
  'Series': 'Pre-war house',
  'Price, m2': '2,308 €',
  'Price': '179,999  €'},
 {'description': 'Pārdodas tikko izremontēts 2 istabu dzivoklis. Bezmāksās stavvie',
  'url': 'https://ss.com/msg/en/real-estate/flats/riga/centre/aghmp.html',
  'Street': 'Barona 76',
  'R.': '2',
  'm2': '48',
  'Floor': '5/5',
  'Series': 'Pre-war house',
  'Price, m2': '1,833 €',
  'Price': '87,999  €'}]

In [50]:
type(row_ads) # so a list of dictionaries well suited for conversion to Pandas

list

In [51]:
row_ads[:2]  # first two ads

[{'description': 'Двухкомнатная квартира с парковочным местом во дворе дома, с изо',
  'url': 'https://ss.com/msg/en/real-estate/flats/riga/centre/dhfdn.html',
  'Street': 'Valdemara 81',
  'R.': '2',
  'm2': '48',
  'Floor': '2/5',
  'Series': 'Pre-war house',
  'Price, m2': '1,927 €',
  'Price': '92,500  €'},
 {'description': 'Logi iziet uz abiem pagalmiem, dzīvoklis ir pietiekoši saulains.',
  'url': 'https://ss.com/msg/en/real-estate/flats/riga/centre/acigj.html',
  'Street': 'Blaumana 29',
  'R.': '4',
  'm2': '108',
  'Floor': '1/5',
  'Series': 'Pre-war house',
  'Price, m2': '1,472 €',
  'Price': '159,000  €'}]

In [52]:
# we can pass our list of dictionaries to pandas and create a dataframe
dtemp = pd.DataFrame(row_ads, columns=column_names)
dtemp.shape

(30, 9)

In [53]:
dtemp.head()

,description,url,Street,R.,m2,Floor,Series,"Price, m2",Price
0,Двухкомнатная квартира с парковочным местом во...,https://ss.com/msg/en/real-estate/flats/riga/c...,Valdemara 81,2,48,2/5,Pre-war house,"1,927 €","92,500 €"
1,"Logi iziet uz abiem pagalmiem, dzīvoklis ir pi...",https://ss.com/msg/en/real-estate/flats/riga/c...,Blaumana 29,4,108,1/5,Pre-war house,"1,472 €","159,000 €"
2,"Ekskluzīvs, gaišs, plašs un mājīgs 3-istabu dz...",https://ss.com/msg/en/real-estate/flats/riga/c...,Valdemara 49,3,93,2/3,Pre-war house,"2,871 €","267,000 €"
3,Īpašniece pārdod dzīvojamā mājā pirmajā stāvā ...,https://ss.com/msg/en/real-estate/flats/riga/c...,Stabu 84,2,82,1/4,Pre-war house,720 €,"59,000 €"
4,Предложение от застройщика. \r\n\r\nВ элитном ...,https://ss.com/msg/en/real-estate/flats/riga/c...,Merkela 2,2,49,3/6,Recon.,"3,200 €","156,800 €"

In [60]:
# now you can save it to a file in a format you like, such as csv or excel
dtemp.to_excel("centrs_30.xlsx")

In [ ]:
centrs

'https://www.ss.com/en/real-estate/flats/riga/centre/hand_over/'

In [57]:
tokens = centrs.split("/")
tokens

['https:',
 '',
 'www.ss.com',
 'en',
 'real-estate',
 'flats',
 'riga',
 'centre',
 'sell',
 '']

In [58]:
prefix = tokens[-3]+"_"+tokens[-2]
prefix

'centre_sell'

In [54]:
# little aside on how to create file name with date and time in it
from datetime import datetime

In [55]:
now = datetime.now()
now.year, now.month, now.day, now.hour, now.minute

(2022, 11, 30, 17, 41)

In [59]:
fname = f"{prefix}_{now.month}_{now.day}_{ now.hour}_{ now.minute}.xlsx"
fname

'centre_sell_11_30_17_41.xlsx'

In [ ]:
datetime.timestamp()

In [61]:
def getDFfromURL(url, save_to_excel=False):
    """
    url is a string representing a url of a page on ss.com
    save_to_excel is a boolean indicating if we want to save the data to excel file
    """
    # print("getting data from", url)
    req = requests.get(url)
    if req.status_code != 200: # check if we got a good response
        print("Request Fail with", req.status_code)
        return None # maybe return empty dataframe here
    soup = BeautifulSoup(req.text, 'lxml')
    column_names = getColList(soup) # so we utilize the functions we created earlier
    rowlist = getRowList(soup)
    rows = getRows(rowlist,colist=column_names)
    df = pd.DataFrame(rows, columns=column_names)
    if save_to_excel:
        tokens = url.split("/") # split url by / to get the prefix for the file name
        prefix = tokens[-3]+"_"+tokens[-2] # we get the prefix from the url
        now = datetime.now() # get current date and time
        fname = f"{prefix}_{now.month}_{now.day}_{now.hour}_{now.minute}.xlsx"
        df.to_excel(fname)
    return df

In [62]:
centrs

'https://www.ss.com/en/real-estate/flats/riga/centre/sell/'

In [63]:
agens = "https://www.ss.com/lv/real-estate/flats/riga/agenskalns/hand_over/"
agens

'https://www.ss.com/lv/real-estate/flats/riga/agenskalns/hand_over/'

In [64]:
agens_df = getDFfromURL(agens, save_to_excel=True)
agens_df.head(10)  # see first 10 ads

,description,url,Iela,Ist.,m2,Stāvs,Sērija,"Cena, m2",Cena
0,Ilgtermiņa īrei pieejams 3-istabu dzīvoklis Āg...,https://ss.com/msg/lv/real-estate/flats/riga/a...,Valentīna 16,3,68,2/4,Renov.,8.46 €,575 €/mēn.
1,Īpašnieks ilgtermiņā izīrē mēbelētu dzīvokli Ā...,https://ss.com/msg/lv/real-estate/flats/riga/a...,Gardenes 7,1,31,2/5,Hrušč.,10.32 €,320 €/mēn.
2,Tiek iznomāts pilnīgi jauns 2-istabu dzīvoklis...,https://ss.com/msg/lv/real-estate/flats/riga/a...,Raņķa d. 34,2,40,8/24,Jaun.,20 €,800 €/mēn.
3,Izīrē dzīvokli ar daļējām ērtībām par 110.0€ m...,https://ss.com/msg/lv/real-estate/flats/riga/a...,Augļu 4,1,16,1/2,Priv. m.,6.88 €,110 €/mēn.
4,"Izīre 3 istabu, +ēdamistaba, dzīvokli tuvajā Ā...",https://ss.com/msg/lv/real-estate/flats/riga/a...,Nometņu 9,3,66,2/4,P. kara,6.06 €,400 €/mēn.
5,Izīrēju dzīvokli Nometņu un Meža ielas krustoj...,https://ss.com/msg/lv/real-estate/flats/riga/a...,Nometņu 1,2,60,2/3,P. kara,9.63 €,578 €/mēn.
6,Izīrēju ilgtermiņā 2-istabu dzīvokli Āgenskaln...,https://ss.com/msg/lv/real-estate/flats/riga/a...,Kristapa 12,2,41,4/5,Hrušč.,7.32 €,300 €/mēn.
7,Izīrējam izremontētu un apmēbelētu 1-istabu dz...,https://ss.com/msg/lv/real-estate/flats/riga/a...,Kokles 12B,1,33,2/4,Renov.,10.61 €,350 €/mēn.
8,Izīrējam izremontētu un apmēbelētu 2-istabu dz...,https://ss.com/msg/lv/real-estate/flats/riga/a...,Kokles 12B,2,51,1/4,Renov.,7.45 €,380 €/mēn.
9,Izīrējam izremontētu un apmēbelētu 1-istabu dz...,https://ss.com/msg/lv/real-estate/flats/riga/a...,Kokles 12B,1,21,3/4,Renov.,18.10 €,380 €/mēn.

In [65]:
agens_sell = getDFfromURL("https://www.ss.com/lv/real-estate/flats/riga/agenskalns/sell/")
agens_sell.head(10)

,description,url,Iela,Ist.,m2,Stāvs,Sērija,"Cena, m2",Cena
0,Tiek pārdots 2- līmeņu dzīvoklis Āgenskalnā. D...,https://ss.com/msg/lv/real-estate/flats/riga/a...,M. Nometņu 1,5,160,2/8,Specpr.,"1,406 €","225,000 €"
1,"Квартира с уникальным и красивым дизайном, кот...",https://ss.com/msg/lv/real-estate/flats/riga/a...,M. Nometņu 5,1,30,1/4,P. kara,"2,663 €","79,900 €"
2,Mūkusalas 56 ir pilnībā renovēta māja ar sakār...,https://ss.com/msg/lv/real-estate/flats/riga/a...,Mūkusalas 56,2,62,1/3,Renov.,"1,315 €","81,500 €"
3,"Pārdod gaišu un saulainu, daļēji izremontētu 2...",https://ss.com/msg/lv/real-estate/flats/riga/a...,Tapešu 24,2,48,5/5,LT proj.,"1,096 €","52,600 €"
4,Pārdod Īres tiesības labi izremontētam 1 ist. ...,https://ss.com/msg/lv/real-estate/flats/riga/a...,Talsu 30A,1,35,4/5,Priv. m.,180 €,"6,300 €"
5,Divistabu dzīvoklis ar balkonu jaunajā projekt...,https://ss.com/msg/lv/real-estate/flats/riga/a...,Liepājas 2,2,64,3/6,Jaun.,"2,594 €","166,000 €"
6,Pārdod dzīvokli Āgenskalna centrā. Dzīvoklis a...,https://ss.com/msg/lv/real-estate/flats/riga/a...,Zeļļu 13,2,47,1/4,P. kara,"1,056 €","49,630 €"
7,Mūkusalas 56 mājai ir jaunizbūvēts siltummezgl...,https://ss.com/msg/lv/real-estate/flats/riga/a...,Mūkusalas 56,2,40,2/3,Renov.,"2,388 €","95,500 €"
8,Dzīvoklis ar baltu apdari (izņemot vannas ista...,https://ss.com/msg/lv/real-estate/flats/riga/a...,Āgenskalna 20,1,33,4/5,LT proj.,812 €,"26,800 €"
9,"Īpašniece pārdod saulainu, izremontētu 1-istab...",https://ss.com/msg/lv/real-estate/flats/riga/a...,Valguma 6-9,1,26,3/3,P. kara,"1,154 €","30,000 €"

In [ ]:
df = getDFfromURL(centrs, save_to_excel=True)

In [ ]:
df.shape

(30, 9)

In [ ]:
df.head()

,description,url,Street,R.,m2,Floor,Series,"Price, m2",Price
0,Divistabu dzīvoklis ar bezmaksas stāvvietu pie...,https://ss.com/msg/en/real-estate/flats/riga/c...,Miera 97,2,39,4/5,Chrusch.,8.46 €,330 €/mon.
1,Izīrē pilnībā mēbelētu dzīvokli jaunāja projek...,https://ss.com/msg/en/real-estate/flats/riga/c...,Terbatas 26a,2,31,2/5,New,14.52 €,450 €/mon.
2,Izīrē pilnībā mēbelētu dzīvokli pilsētas centr...,https://ss.com/msg/en/real-estate/flats/riga/c...,Terbatas 26a,2,43,1/6,New,10.47 €,450 €/mon.
3,Izīrē 2-istabu dzīvokli pēc kapitālā remonta a...,https://ss.com/msg/en/real-estate/flats/riga/c...,Chaka 148,2,60,3/5,Perewar,7.50 €,450 €/mon.
4,"Īpašniece piedāvā īrei ērtu, studijas tipa dzī...",https://ss.com/msg/en/real-estate/flats/riga/c...,Artilerijas 19,1,35,3/4,Recon.,10.57 €,370 €/mon.

## Now we want to find all pages with the same ads from the area
### some urls might have many ads some might have a single page

In [66]:

# https://developer.mozilla.org/en-US/docs/Web/HTML/Element/a
anchors = soup.find_all("a")
len(anchors)
# anchors are the basic building blocks of the web, so we have a lot of them

99

In [67]:
anchors[:5]

[<a href="/en/" title="Advertisements"><img alt="Advertisements" border="0" class="page_header_logo" src="https://i.ss.com/img/p.gif"/></a>,
 <a class="a_menu" href="/en/real-estate/flats/new/" title="Post Advertisement">Post Advertisement</a>,
 <a class="a_menu" href="/en/login/" title="My Adverts">My Adverts</a>,
 <a class="a_menu" href="/en/real-estate/flats/riga/centre/search/" title="Search advertisement">Search</a>,
 <a class="a_menu" href="/en/favorites/" title="Favorites">Favorites</a>]

In [68]:
# we want the previous anchor it has a couple of attributes that we can use to find it
# one way is to use name attribute and check if it is equal to nav_id
navs = [anchor for anchor in anchors if anchor.get("name") == "nav_id"] # get will get us None if no "name" exists
len(navs)

10

In [69]:
navs[0] # so the first one is the one we want

<a class="navi" href="/en/real-estate/flats/riga/centre/sell/page26.html" name="nav_id" rel="prev"><img border="0" height="5" src="https://i.ss.com/img/s_left.png" style="padding-bottom:2px;" width="9"/> Previous</a>

In [70]:
navs[0].attrs

{'name': 'nav_id',
 'rel': ['prev'],
 'class': ['navi'],
 'href': '/en/real-estate/flats/riga/centre/sell/page26.html'}

In [71]:
navs[0]['href'] # we can extract the link from the anchor

'/en/real-estate/flats/riga/centre/sell/page26.html'

In [72]:
# could use regular expression here but we can use split 
afterpage = navs[0]['href'].split("/page")[-1] # -1 might be safer than 1 in case there is region with name page
afterpage

'26.html'

In [73]:
beforedot = afterpage.split(".html")[0] # first part of the split
beforedot

'26'

In [74]:
# we have extracted the number of the page finally we need to convert it to integer
lastpage = int(beforedot)  # need to cast this to integer
lastpage

26

In [ ]:
# now we can use that number to create a list of urls for all pages

In [75]:
def getAllLocalUrls(url):
    """Get a list of all urls including paginated pages
    url is a string representing a url of a page on ss.com where we start
    """
    results = [url] # default is just the url if no extra pages found like Boldaraja :)
    req = requests.get(url)
    if req.status_code != 200:
        print(f"Bad response! {req.status_code}")
        return []
    soup = BeautifulSoup(req.text, 'lxml')
    # we just need a one element
    # instead of name attribute we use rel attribute
    prevanchor = soup.find('a', {"rel":"prev"}) # this is specific to previous page anchor on ss.com
    # you would need to adjust this to your needs
    if prevanchor == None: # means there is only one page of ads
        return results
    # now we extact the number of the last page
    href = prevanchor.attrs.get('href')
    lastPageNum = int(href.split('/page')[-1].split('.html')[0])
    print("Last page is",lastPageNum)
    # finally we use list comprehension to create a list of urls
    # also note the use of f-string to create the url
    nurls = [f"{url}page{n}.html" for n in range(2,lastPageNum+1)]
    results += nurls
    return results

In [76]:
centrs

'https://www.ss.com/en/real-estate/flats/riga/centre/sell/'

In [77]:
local_urls = getAllLocalUrls(centrs)
len(local_urls),local_urls[:3],local_urls[-3:]

Last page is 26

(26,
 ['https://www.ss.com/en/real-estate/flats/riga/centre/sell/',
  'https://www.ss.com/en/real-estate/flats/riga/centre/sell/page2.html',
  'https://www.ss.com/en/real-estate/flats/riga/centre/sell/page3.html'],
 ['https://www.ss.com/en/real-estate/flats/riga/centre/sell/page24.html',
  'https://www.ss.com/en/real-estate/flats/riga/centre/sell/page25.html',
  'https://www.ss.com/en/real-estate/flats/riga/centre/sell/page26.html'])

In [78]:
dlast = getDFfromURL(local_urls[-1])
dlast.shape

(9, 9)

In [79]:
dlast

,description,url,Street,R.,m2,Floor,Series,"Price, m2",Price
0,"Īpašnieks pārdod mājīgu, saulainu un romantisk...",https://ss.com/msg/en/real-estate/flats/riga/c...,Sporta 7,2,51,1/4,Pre-war house,"2,353 €","120,000 €"
1,"Tiek pārdots dzīvoklis, ar privātmājas sajūtu ...",https://ss.com/msg/en/real-estate/flats/riga/c...,Chaka 62b,3,53,1/2,Pre-war house,"1,226 €","65,000 €"
2,Māja pēc pilnas rekonstrukcijas. Daļu no mājas...,https://ss.com/msg/en/real-estate/flats/riga/c...,Pulkv. Briezha 13,3,69,6/7,Recon.,"2,884 €","199,000 €"
3,Pārdodu saulainu dzīvokli jaunā projekta ēkā K...,https://ss.com/msg/en/real-estate/flats/riga/c...,Klijanu 2A,1,40,6/9,Recon.,950 €,"38,000 €"
4,"Īpašnieks pārdod dzīvokli, blakus Vef tilts, ļ...",https://ss.com/msg/en/real-estate/flats/riga/c...,Brivibas 181,2,42,2/5,Chrusch.,"1,857 €","78,000 €"
5,"Plašs, gaišs dzīvoklis ar elegantu plānojumu. ...",https://ss.com/msg/en/real-estate/flats/riga/c...,Skolas 30,4,115,3/5,Pre-war house,"2,000 €","230,000 €"
6,Labākais šāda veida piedāvājums centrā. \r\nKl...,https://ss.com/msg/en/real-estate/flats/riga/c...,Blaumana 21,6,166,3/5,Pre-war house,"1,627 €","270,000 €"
7,Pārdod 3 istabu dzīvokli projektā “Olive”. Zaļ...,https://ss.com/msg/en/real-estate/flats/riga/c...,Asara 9,3,109,4/6,New,"2,200 €","239,800 €"
8,"Mēbelēts dzīvoklis ar divām istabām, kur viena...",https://ss.com/msg/en/real-estate/flats/riga/c...,Barona 140a,2,27,2/2,Pre-war house,"1,000 €","27,000 €"

In [80]:
def get_all_ads_df(start_url, save_excel_path=None):
    """Get a dataframe of all ads from a given url
    start_url is a string representing a url of a page on ss.com where we start
    save_excel_path is a string representing a path to save the excel file
    """
    df_list=[] # so we will save our dataframes in a list
    local_urls = getAllLocalUrls(start_url)
    for url in local_urls:
        print(f"Gathering data from {url}")
        df_list.append(getDFfromURL(url))
        time.sleep(0.3) # we need this to play nice! we want a little bit of delay (300ms here) to not overload the server
    # https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.concat.html
    big_df = pd.concat(df_list) # then make a big dataframe from all the small dataframes - tables
    if save_excel_path:
        big_df.to_excel(save_excel_path)
    return big_df

In [81]:
centrs

'https://www.ss.com/en/real-estate/flats/riga/centre/sell/'

In [82]:
df = get_all_ads_df(centrs, "centrs_30_11_2022.xlsx")

Last page is 26
Gathering data from https://www.ss.com/en/real-estate/flats/riga/centre/sell/
Gathering data from https://www.ss.com/en/real-estate/flats/riga/centre/sell/page2.html
Gathering data from https://www.ss.com/en/real-estate/flats/riga/centre/sell/page3.html
Gathering data from https://www.ss.com/en/real-estate/flats/riga/centre/sell/page4.html
Gathering data from https://www.ss.com/en/real-estate/flats/riga/centre/sell/page5.html
Gathering data from https://www.ss.com/en/real-estate/flats/riga/centre/sell/page6.html
Gathering data from https://www.ss.com/en/real-estate/flats/riga/centre/sell/page7.html
Gathering data from https://www.ss.com/en/real-estate/flats/riga/centre/sell/page8.html
Gathering data from https://www.ss.com/en/real-estate/flats/riga/centre/sell/page9.html
Gathering data from https://www.ss.com/en/real-estate/flats/riga/centre/sell/page10.html
Gathering data from https://www.ss.com/en/real-estate/flats/riga/centre/sell/page11.html
Gathering data from https://www.ss.com/en/real-estate/flats/riga/centre/sell/page12.html
Gathering data from https://www.ss.com/en/real-estate/flats/riga/centre/sell/page13.html
Gathering data from https://www.ss.com/en/real-estate/flats/riga/centre/sell/page14.html
Gathering data from https://www.ss.com/en/real-estate/flats/riga/centre/sell/page15.html
Gathering data from https://www.ss.com/en/real-estate/flats/riga/centre/sell/page16.html
Gathering data from https://www.ss.com/en/real-estate/flats/riga/centre/sell/page17.html
Gathering data from https://www.ss.com/en/real-estate/flats/riga/centre/sell/page18.html
Gathering data from https://www.ss.com/en/real-estate/flats/riga/centre/sell/page19.html
Gathering data from https://www.ss.com/en/real-estate/flats/riga/centre/sell/page20.html
Gathering data from https://www.ss.com/en/real-estate/flats/riga/centre/sell/page21.html
Gathering data from https://www.ss.com/en/real-estate/flats/riga/centre/sell/page22.html
Gathering data from https://www.ss.com/en/real-estate/flats/riga/centre/sell/page23.html
Gathering data from https://www.ss.com/en/real-estate/flats/riga/centre/sell/page24.html
Gathering data from https://www.ss.com/en/real-estate/flats/riga/centre/sell/page25.html
Gathering data from https://www.ss.com/en/real-estate/flats/riga/centre/sell/page26.html

In [83]:
df.shape

(759, 9)

In [84]:
df.head()

,description,url,Street,R.,m2,Floor,Series,"Price, m2",Price
0,Īpašnieks pārdod mūra-koka mājā vienistabas dz...,https://ss.com/msg/en/real-estate/flats/riga/c...,Petersalas 17,2,30,2/2,Spec. pr.,622 €,"18,650 €"
1,Lieliska iespēja iegādāties šo 2 istabu dzīvok...,https://ss.com/msg/en/real-estate/flats/riga/c...,Artilerijas 19,2,41,4/5,Pre-war house,"1,927 €","79,000 €"
2,Pārdod vienistabas dzīvokli ar lielisku plānoj...,https://ss.com/msg/en/real-estate/flats/riga/c...,Aluksnes 1,1,31,1/5,Recon.,"2,255 €","69,900 €"
3,Реновированный дом. Все удобства. Ремонт. Бесп...,https://ss.com/msg/en/real-estate/flats/riga/c...,Merkela 7,1,12,1/6,Pre-war house,898 €,"10,777 €"
4,Двухкомнатная квартира с парковочным местом во...,https://ss.com/msg/en/real-estate/flats/riga/c...,Valdemara 81,2,48,2/5,Pre-war house,"1,927 €","92,500 €"

In [ ]:
# so the steps of the process are:
# 1. get the list of urls for all pages
# 2. get the data from each page
# 3. combine the data into one dataframe
# 4. save the dataframe to excel for further analysis

In [ ]:
# what is the limitation of BeautifulSoup?
# it is not a browser, it does not execute javascript!
# modern web pages are not just html, they are html + css + javascript quite often
# often the page is not fully loaded until javascript is executed
# that is where Selenium comes in
# Selenium is a browser automation tool
# this means you can use it to automate the browser
# that is more powerful than BeautifulSoup but slower

In [107]:
df.tail()

                                         description  ...        Price
3  Сдаётся однокомнатная квартира со всеми удобст...  ...  210  €/mon.
4  Izīrē jaunajā projektā komfortablu, kompaktu u...  ...    25  €/day
5  Izīrē īstermiņā, Vecrīga - ideāla atrašanās vi...  ...    50  €/day
6  Rīgas centrs - ideāla atrašanās vieta, moderns...  ...    45  €/day
7  Istaba īsire. ilgtermiņā. virtuve, tualete un ...  ...    20  €/day

[5 rows x 9 columns]

In [87]:
df.shape

(608, 9)

In [108]:
#we can do more post processing - feature engineering using existing columns
df[['CurFloor','MaxFloor']] = df.Floor.str.split("/",expand=True) 
df.head()

                                         description  ... MaxFloor
0  Izīrē 2-istabu dzīvokli ilgtermiņa īrei Rīgas ...  ...        4
1  Izīrējam ļoti mājīgu un plašu 90 m2 3-istabu d...  ...        1
2  Izīrējam dzīvokli, klusais centrs Vēstniecību ...  ...        5
3  Fasādes māja, bezmaksas stāvvieta pagalmā. \r\...  ...        7
4  Izīrēju skaistu dzīvokli jaunā projekta ēkā. V...  ...        9

[5 rows x 11 columns]

In [109]:
df.sort_values(by="Floor",ascending=False).head()

                                          description  ... MaxFloor
4   Izīrēju skaistu dzīvokli jaunā projekta ēkā. V...  ...        9
21  For rent 2-bedroom apartment in a new building...  ...        9
29  Пентхаус с террасой и видом на город. \r\nKрас...  ...        7
1   Мансарда. Центр. Своё отопление. \r\nКрасиво, ...  ...        7
20  Izīrējam dzīvokli Rīgas pilsētas centrā - "Upī...  ...        7

[5 rows x 11 columns]

In [ ]:
df.to_excel("c:/temp/my_apartments.xlsx") # i could this with absolute path

In [ ]:
from datetime import datetime as dt
now = dt.now()
now.month, now.day, now.hour, now.second

In [ ]:
url = "https://www.ss.com/lv/real-estate/flats/riga/sarkandaugava/hand_over/"
region = url.split("riga/")[-1].split("/")[0]
now = dt.now()
save_path = f"../data/{region}_{now.day}_{now.month}__{now.hour}_{now.second}.xlsx"
save_path

In [ ]:
url = "https://www.ss.com/lv/real-estate/flats/riga/sarkandaugava/hand_over/"
region = url.split("riga/")[-1].split("/")[0]
now = dt.now()
save_path = f"../data/{region}_{now.day}_{now.month}__{now.hour}_{now.second}.xlsx"

df = get_all_ads_df(url, save_path)

In [ ]:
url = "https://www.ss.com/lv/transport/cars/vaz/riga_f/"
df = get_all_ads_df(url, "../data/vaz_25_11.xlsx")

In [110]:
sarkandaugava_url = "https://www.ss.com/lv/real-estate/flats/riga/sarkandaugava/hand_over/"
sarkandaugava_url

'https://www.ss.com/lv/real-estate/flats/riga/sarkandaugava/hand_over/'

In [111]:
sarkan_df = get_all_ads_df(sarkandaugava_url, "sarkandaugava_01_12_21.xlsx")
sarkan_df

Last page is 2
Gathering data from https://www.ss.com/lv/real-estate/flats/riga/sarkandaugava/hand_over/
Gathering data from https://www.ss.com/lv/real-estate/flats/riga/sarkandaugava/hand_over/page2.html

                                          description  ...         Cena
0   Saimniece izīrē divistaba dzīvokli ar malkas a...  ...  240  €/mēn.
1   Сдается однокомнатная квартира со всеми удобст...  ...  220  €/mēn.
2   Квартира в сталинском доме, высокий первый эта...  ...  300  €/mēn.
3   Izīrē dzīvokli ar visām ērtībām, tehniku, dīvā...  ...  250  €/mēn.
4   Izīrē ērtu dzīvokli ar remontu un mēbelēm. Krā...  ...  160  €/mēn.
5   Владелец сдаёт мебелированную, со всеми удобст...  ...  280  €/mēn.
6   Tikko pēc kosmētiska remonta. Istabas caurstai...  ...  320  €/mēn.
7   Izīrē 2istabu dzīvokli Sarkandaugavā, Limbažu ...  ...  200  €/mēn.
8   Izīrēju divistaba dzīvokli ar daļējām ērtībām ...  ...  180  €/mēn.
9   Uz ilgtermiņa īri pieejams saulains, remontēts...  ...  330  €/mēn.
10  Īpašnieks izīrē uz ilgu laiku pilnībā mēbelēti...  ...  285  €/mēn.
11  Piedāvājam īrei mēbelētu 3 istabu dzīvokli. Vi...  ...  300  €/mēn.
12  Сдается уютная, тёплая квартира, есть всё для ...  ...  220  €/mēn.
13                                      Uz ilgterminu  ...  300  €/mēn.
14  "Как мило. "- воскликнете Вы, оказавшись в это...  ...  220  €/mēn.
15  Tiek izīrēts divistabu dzīvoklis Sarkandaugava...  ...  300  €/mēn.
16  Ar decembri izīrējam foršu 1 istabas dzīvokli ...  ...  260  €/mēn.
17  Īpašnieks izīrē labiekārtotu vienistabas dzīvo...  ...  170  €/mēn.
18  На срок по договоренности аккуратным, спокойны...  ...  250  €/mēn.
19  Izīrē mēbelētu 1-istabas dzīvokli Sarkandaugav...  ...  220  €/mēn.
20  Izīrē gaišu studio tipa divistabu dzīvokli jau...  ...  270  €/mēn.
21  Saimnieks izīrē kvalitatīvi izremontētu studio...  ...  200  €/mēn.
22  Хозяйка сдаёт однокомнатную квартиру, печное о...  ...  200  €/mēn.
23  Tiek izīrēts 1-ist. dzīvoklis pēc kap. remonta...  ...  200  €/mēn.
24  Pagalma māja, labiekārtota apzaļumota teritori...  ...  300  €/mēn.
25  Izīrē 2-istabu dzīvoklī Sarkandaugavā. Dzīvokl...  ...  250  €/mēn.
26  Tiek izzīrēts saulains studiotipa dzīvoklis ar...  ...  220  €/mēn.
27  Сдаётся квартира на длительный срок. Район Сар...  ...  180  €/mēn.
28  Lat - Eng / Īpašnieks izīrē labiekārtotu 38 kv...  ...  360  €/mēn.
29  Mājīgs, gaišs un ļoti silts dzīvoklis. Dzīvokl...  ...  250  €/mēn.
0   Izīrēju vien istaba dzīvokli ar daļējām ērtībā...  ...  160  €/mēn.
1   Tiek izīrēts mēbelēts dzīvoklis. 3, 5 istabas....  ...  850  €/mēn.
2   Сдается очень уютная 2-х комнатная квартира с ...  ...  290  €/mēn.
3   Kārtīgiem īrniekiem izīrē siltu 2-istabu dzīvo...  ...  300  €/mēn.
4   Īpašnieks ilgtermiņā izīrē tikko izremontētu, ...  ...  380  €/mēn.
5   Сдам квартиру на длительный срок с мебелью без...  ...  210  €/mēn.
6   Burvīgais 2 istabu studio tipa dzīvoklis ar te...  ...  35  €/dienā
7   Īpašniece izīrē, dzīvoklis mēbelēts, duškabīne...  ...  130  €/mēn.
8   Сдаем квартиру на улице Hapsalas 5, 5-ый этаж ...  ...  170  €/mēn.
9   Izīrēju vienistabas dzīvokli saimnieka mājā. D...  ...  100  €/mēn.
10  Izīrē plašu, ekonomisku, svaigi remontētu 1.is...  ...  140  €/mēn.
11  Tiek izīrēts 2-ist. dzīvoklis pēc kap. remonta...  ...  280  €/mēn.
12  Īzīrē 1-istabas dzīvokli, īrniekam bez dzīvnie...  ...  180  €/mēn.
13  Labdien, \r\nIzīrējam vienu istabu dienesta dz...  ...  110  €/mēn.
14  Izīrējam mājīgu dzīvokli, viena istaba izolēta...  ...  300  €/mēn.
15  Meklējam kārtīgus ilglaicīgus īrniekus saulain...  ...  420  €/mēn.
16  Īpašnieks izīrē gaišu, saulainu 2istabu dzīvok...  ...  300  €/mēn.
17  Izīrēju 48 m2 vienistabas dzīvokli. Visas ērtī...  ...  280  €/mēn.
18  Īpašnieks izīrē 3 istabu dzīvokli Rīgā, Viestu...  ...  320  €/mēn.

[49 rows x 9 columns]

# TODO 
# Try with different starting address not only centrs
## Maybe combine regions
## See how it would work with maybe cars
## Data engineering make new columns based on existing ones, clean some columns
### Changing floors 2/6 to columns 2 and 6, clean up Euro signs
## Sorting, Describing, Grouping by regions etc

In [ ]:
df = pd.read_excel("centrs_25_11.xlsx")
df.head()

In [ ]:
df["price"] = df.Cena.str.split(' ').str[0]
df.head()

In [ ]:
df.price = df.price.str.replace(",","").astype('int32')
df.head()

In [ ]:
df.price.hist()

In [ ]:
df[['Floor','MaxFloor']] = df.Stāvs.str.split("/",expand=True) 
df.info()

In [ ]:
#typecasting example
df.Floor = df.Floor.astype('int32')
df.MaxFloor = df.MaxFloor.astype('int32')

In [ ]:
df.describe().T # T is for transposing rows and columns

In [ ]:
df.describe().T.to_csv("center_stats.csv")

In [ ]:
import plotly.express as px

In [ ]:
fig = px.histogram(df, x="price")
fig.show()

In [ ]:
import seaborn as sns # seaborn sits on top of matplotlib with better defaults
import matplotlib.pyplot as plt

In [ ]:
# Basic correlogram
sns.pairplot(df)

In [ ]:
# Basic correlogram
sns.pairplot(df)

In [ ]:
volvo_url = "https://www.ss.com/lv/transport/cars/volvo/sell/"
gr_auto = df.groupby(["Gads","Modelis"])["Cena"].agg(["min", "max", "mean"])  #.head(n = 10)

In [ ]:
print(dt.today())

In [ ]:
suzuki_url = "https://www.ss.com/lv/transport/cars/suzuki/"
# sdf = get_all_ads_df(suzuki_url, f"suzuki_{dt.today()}.xlsx")
sdf = get_all_ads_df(suzuki_url, f"suzuki.xlsx")
sdf.head()

In [ ]:
sdf.info()

In [ ]:
sdf["Tilp."] = sdf["Tilp."].str.replace("\w","", regex=True)
sdf.head()

In [ ]:
sdf["Nobrauk."] = sdf["Nobrauk."].str.replace("\D","", regex=True) # so no digits removed
sdf.head()

In [ ]:
sdf["Cena"] = sdf["Cena"].str.replace("\D","", regex=True) # so no digits removed
sdf.head()

In [ ]:
sdf = sdf.dropna(how="any", axis=0)
sdf

In [ ]:
sdf = sdf[sdf["Nobrauk."].str.len() > 0] # got rid of those empty rows finally
sdf

In [ ]:
sdf["Cena"] = sdf["Cena"].astype("float32")

In [ ]:
gr_auto = sdf.groupby(["Gads","Modelis"])["Cena"].agg(["count","min", "max", "mean"]) 
gr_auto